@import url("css/prettyPhoto.css");

html, body, div, span, applet, object, iframe, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, figure {
    margin: 0;
    padding: 0;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}
ul {
    list-style: none;
}
table {
    border-collapse: separate;
    border-spacing: 0;
	width:100%;
}   
caption, th, td {
    text-align: left;
    font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: "";
}
blockquote, q {
    quotes: "" "";
}
sup{
    vertical-align: super;
    font-size:smaller;
}
code{
    font-family: 'Courier New', Courier, monospace;
    font-size:12px;
    color:#657580;
}
h1, h2, h3, h4, h5, h6{
	font-weight:normal;
	font-style:italic;
	padding:10px 0 20px 0; margin:0;
}
h1 {
	font-size: 30px;
	line-height: 54px;
}

h2 {
	font-size: 22px;
	line-height: 30px;
}

h3 {
	font-size: 18px;
	line-height: 26px;
}

h4 {
	font-size: 14px;
	line-height: 28px;
}

h5 {
	font-size: 12px;
	line-height: 24px;
}

h6 {
	font-size: 10px;
	line-height: 20px;
}

p{
	margin-bottom:15px;
}
a img{
	border: none;
}
a { 
	text-decoration:none;
	color:#58A623;	
    -webkit-transition: background-color .2s linear, color .2s linear;
	-moz-transition: background-color .2s linear, color .2s linear;
	-o-transition: background-color .2s linear, color .2s linear;
	-ms-transition: background-color .2s linear, color .2s linear;
	transition: background-color .2s linear, color .2s linear;
}
a:hover {
	color:#000;
}

body {
	font-family: Arial, sans-serif;
	font-size: 12px;
	line-height: 20px;
	font-weight: 400;
	color: #666;
	overflow-x: hidden;
	overflow-y: scroll;
}

/* Common Form Elements -------------------------------*/

input[type=text],
textarea {
	background: #f7f7f8;
	border: 1px solid #ccc;
	color: #b2b2b6;
    padding: 5px 10px; 
	font-family: Georgia, "Times New Roman", Times, serif;
	width:92%;
	
}
/*
input[type=submit] {
	background: #333;
	border: 1px solid #333;
	color: #fff;
	cursor: pointer;
	font-family: Georgia, "Times New Roman", Times, serif;
	padding: 5px 10px;
	width: auto;
	-webkit-transition: color .2s linear, background .2s linear, border-color .2s linear;
	-moz-transition: color .2s linear, background .2s linear, border-color .2s linear;
	-ms-transition: color .2s linear, background .2s linear, border-color .2s linear;
	-o-transition: color .2s linear, background .2s linear, border-color .2s linear;
	transition: color .2s linear, background .2s linear, border-color .2s linear;
}
#submit:hover, #searchsubmit:hover,
button:hover {
    background: #58A623;
    border-color: #58A623;
}
*/
input:focus,
textarea:focus {
	background: #fff;
	border-color: #cfcfcf;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.1) inset;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,.1) inset;
	box-shadow: 0 1px 3px rgba(0,0,0,.1) inset;
	color: #555;
}

.container {
	position: relative;
	max-width: 100%;
	background-color: #fff;
}
.recent_posts_container {
	max-width: 100%;
	margin:20px 0;
}

.header {
	padding: 11px 0;
	position: relative;
}
.inner {
	padding: 0px 20px;
	position: relative;
	max-width: 960px;
	margin: 0 auto;
}
.branding {		
	float: left;
	margin-right:10px;
	padding-right:20px;
	margin-top:10px;
}
.branding h1{
	font-size:24px; padding:0; margin:0; line-height:normal;
}
.branding a.logo {
	width: 203px;
	padding-top:10px;
	float: none;	
	color:#4b4b4b;	
}

.footer_branding{
	float: right;
	margin-right:5px;
}

.footer_branding h3{
	font-size:24px; padding:0; margin:0; line-height:normal;
}
.footer_branding a.logo {

}
.words{
	color:#58a623;
}



/*-[ Navigation ]-----------------*/

.navigation {
	background: white;
}
.main-navigation {
	display: block;
	float: left;
	font-size:18px;
	position: relative;
	margin: 15px 0;
}
.main-navigation #navigation {
	max-width: 100%;
	border-top: 0;
	overflow: visible;
	position: relative;
	margin-top:8px;
}
.main-navigation li a{
	line-height: 1.2em;
	padding: 6px 15px;
	color: #989898;

}
.last-menu-item a {
	border-right:0!important;
}
.main-navigation li ul li a {
	margin-left:0;
}
.main-navigation #navigation ul {          
}
#navigation{
	margin: 0 auto;
	float: left;
	width: 100%;
}
#navigation select{
	display:none;
}
#navigation ul{
	float:left;
}
#navigation ul li{
	float:left;
	position:relative;
}
#navigation > ul > li:last-child{
	border-right:none;
}
#navigation ul li a,
#navigation ul li a:link,
#navigation ul li a:visited{
	overflow:hidden;
	display:block;
	color: #666;
}
#navigation > ul > li > a{
	color: #777;
}
#navigation > ul > li > a:hover{
	color: #333;
	background: #E1F4C6;
}
#navigation > ul > .current{
	border-top-color:rgba(0,0,0,0.3);
}
#navigation > ul > .current a{
	background:transparent;
	color:#BFC5C9 !important;
}
#navigation ul li li{
	
}
#navigation ul ul{
	position:absolute;
	width:190px;
	padding: 5px 0 25px 0;
	z-index:400;
	color:#798189;
}
#navigation ul ul li{
	padding:0;
	border-right: 1px solid #E2E2E2;
	border-top: 1px solid #E2E2E2;
	border-left: 1px solid #E2E2E2;
	background: #F1F1F1;
}
#navigation ul ul a,
#navigation ul ul a:link,
#navigation ul ul a:visited{
	padding: 6px 20px;
	position:relative;
	width:148px;
	border-left: 0;
	background:transparent;
	border-bottom:1px solid rgba(255,255,255,0.05);
	border-right:0;
	font-weight:normal;
	-moz-border-radius:0;
	-webkit-border-radius:0;
	border-radius:0;
}
#navigation ul ul li:first-child a{
	border-top:none;
}
#navigation ul ul li:last-child a{
	border-bottom:none;
}
#navigation ul ul li a:hover{
	color:#333333;
}
#navigation ul li li:hover > a{
	background: #E1F4C6;
}
#navigation ul ul{
	opacity:0;
	left:-999em;
	background: transparent!important;
	border: 0!important;
	padding-bottom: 0!important;
	border-bottom: 2px solid #CCCCCC!important;
	font-size:14px;
}
#navigation ul li:hover ul{
	left:auto;opacity:1;
}
#navigation ul ul ul{
	top:-10px;
}
#navigation li:hover ul ul,
#navigation li:hover ul ul ul,
#navigation li:hover ul ul ul ul{
	left:-999em;
	opacity:0;
}
#navigation li:hover ul,
#navigation li li:hover ul,
#navigation li li li:hover ul,
#navigation li li li li:hover ul{
	opacity:1;
	left: 188px;
}
ul.sub-menu:before{
	border-color: transparent transparent #E2E2E2;
	border-color: transparent transparent rgba(206, 206, 206, 0.5);
	border-style:solid;
	border-width:6px;
	content:"";
	display:block;
	height:0;
	position:absolute;
	width:0;
	top: 1px;
	left: 15px;
}
#navigation ul ul:after{
	left:10px;
	top:-12px;
}
#navigation ul ul ul:after{
	border-color:transparent #282E33 transparent transparent;
	border-color:transparent rgba(14,19,22,0.92) transparent transparent;
	left:-12px;
	top:3px;
}

/****Simple Page styling ****/
.page_description{
	border-bottom:1px dotted #E7E6E6; padding-bottom:5px;
	font-style:normal; color:#888; line-height:18px;
	margin-bottom:4px;
}
.page_description p{
	margin-bottom:10px;
	padding:0;
}

/* Simple Pagination */
.pagination{
	float:left;
	margin-top:20px;
	font-size:14px;
}
.pagination a.inactive{
	border:1px solid #8BB351;
	display:inline-block;
	height:15px;
	line-height:15px;
	color:#747474;
	padding:7px 10px;
	margin-left:5px;
}
.pagination a.inactive:hover{
	border:1px solid #8BB351; background-color:#8BB351; color:#fff;
}
.pagination .current{
	border:1px solid #8BB351;
	display:inline-block;
	height:15px;
	line-height:15px;
	color:#fff;
	padding:7px 10px;
	margin-left:5px;
	background:#8BB351;
}
.pagination .pagination-prev{
	background:url(images/arrow-prev.png) no-repeat center left;
	padding-left:10px;
	margin-right:10px;
	font-size:12px;
}
.pagination .pagination-next{
	background:url(images/arrow-next.png) no-repeat center right;
	padding-right:10px;
	margin-left:15px;
	font-size:12px;
}
.pag_left{
	float:left; width:100px;
}
.pag_right{
	float:right; width:100px;
}
.image-frame {
	padding:0; margin:0;
}
.image-frame img{
	width:98%;
	height:auto;
	padding:3px;
	border:3px solid #eee;
}

.connect {
	width: 125px;
	float: right;
	margin: 25px 0px 10px 0;
	padding: 0px;
	height: 34px;
}
.connect li {
	float: right;
}
.connect li a {
	display: block;
	width: 25px;
	height: 25px;
	outline: none;
	margin: 0 3px;
	background: transparent url(images/icons.png) no-repeat;
	text-indent: -9000px;
	position: relative;
	-webkit-transition: opacity 0.5s;
	-moz-transition:    opacity 0.5s;
	-o-transition:      opacity 0.5s;
	opacity:0.4
}

.connect li .connect-rss{
    background-position:0px 0px;	
}
.connect li .connect-rss:hover{
	opacity:1;
}
.connect li .connect-email{
    background-position:57px 0px;
}
.connect li .connect-email:hover{
	opacity:1;
}
.connect li .connect-twitter{
    background-position:-63px 0px;
}
.connect li .connect-twitter:hover{
    opacity:1;
}
.connect li .connect-facebook{
    background-position:-94px 0px;
}
.connect li .connect-facebook:hover{
    opacity:1;
}
.connect li .connect-gplus{
    background-position:-125px 0px;
}
.connect li .connect-gplus:hover{
    opacity:1;
}
.bellow_header{
	padding:5px 20px;;
}
.bellow_header_title{
	max-width:920px; margin:5px auto; color:#fff; font-size:18px; font-style:italic;
}

.clr {
	clear: both;
	float: none;
}
.forth{
	clear:left;
}

.content {
	margin: 0 auto;
	padding:20px 0 45px 0;
	background: url(images/slider-texture.png) repeat;
	background-color:#414852;
}
.inside_content {
	width: 95%;
	max-width: 940px;
	margin: 0 auto;
}
.qbox{
	font-size:18px;
	line-height: 26px;
	text-align:center;
}
.qbox p{
	margin-bottom:0;
}
.qbox h1{
	font-size:30px;
	margin-bottom:15px;
	line-height:normal;
}
.qbox h2{
	font-size:26px;
	margin-bottom:15px;
	font-style:italic;
	padding:5px 0; font-weight:bold;
}
.qbox h3{
	font-size:22px;
	margin-bottom:15px;
}

.front_page_in{
	margin:0 auto;
	max-width:960px;
	padding:10px 0;
}
.front_widget{
	float:left;width:23.3%;margin-right:1%; padding-right:1%; margin-top:15px; margin-bottom:15px; border-right:1px dotted #ccc; text-align:center; color:#777;
}

.front_widget a{
	font-size:11px; font-style: italic; color:#58a623;
}
.front_widget a:hover{
	color:#444; background-color:#E1F4C6;
}

h3.widget-title{
	font-size:20px; letter-spacing:-1px;;font-weight:normal; padding-bottom:9px; padding-top:3px; margin-bottom:9px; text-align: center;
}

h3.widget-title a{
	font-style:normal; font-size:20px;letter-spacing:-1px;;font-weight:normal;
}
h3.widget-title a:hover{
	
}

.textwidget{
	font-size:12px;
	padding:0 10px 10px 10px;
}
.textwidget .alignleft {
	float:left;
	margin:0px 10px 10px 0px;
}

/**** Footer Styling ****/
.footer {
	position: relative;
	width: 100%;
	bottom: 0px;
}
.footer a{
	color:#727272;
}
.footer a:hover{
	color:#525252;
}
.footer_widget {
	padding: 10px 0;

}
.footer_widget_inside {
	padding: 10px;
	margin: 0 auto;
	max-width: 960px;
}
.footer_widget_content{
	float: left;
	width: 23%;
	min-height: 20px;
	margin: 15px 10px 15px 5px;
	color:#d0d0d0;
	line-height:18px;
	font-family:arial;
}
.footer_widget_content ul.twitter li a{
	border-bottom:none;
}
.footer_widget_content ul.twitter li span a{
	color:#8de94f;
}
.footer_widget_content ul.twitter li span a:hover{
	color:#8de94f;
	border-bottom:1px dotted #8de94f;
}
.footer_widget_content ul.twitter li{
	border-bottom:1px dotted #666;
}
.footer_widget_content .textwidget {
	padding:5px 10px;
}
.footer_widget_content ul{
	padding:5px 10px;
}
.footer_widget_content p {
	margin-bottom:15px;
}
.footer_widget_content a{
	font-size:12px;
	line-height:22px;
	color:#d0d0d0;
	border-bottom:1px dotted #a5a5a5;
}

ul.twitter{
	font-size:12px; font-style:italic; padding:0 5px; 
}
ul.twitter li{
	margin-bottom:10px;
	padding-bottom:5px;
	border-bottom:1px dotted #ddd;
}
.footer_widget_content a:hover{
	border-bottom:none;
	color:#fff;
}
h3.footer-widget-title{
	color:#fff; font-weight:normal; font-style:italic; font-size:18px; font-family:georgia;
	border-bottom:1px solid #777777;
	margin-bottom:9px; padding-bottom:9px;
}
.footer .inner {
	padding: 10px 20px;
	margin: 0 auto;
	max-width: 960px;
	overflow: hidden;
}
.copyright{
	margin-top:10px;
	float: left;
	font-size:12px;
	line-height:18px;
	color:#525252;
}

/**** Shortcode Image ****/
.shortcode_img {
	width:32px;
	margin:3px auto;
}
.shortcode_img img{

}
.div_bar{
	display:none;
}

/*-----------------------------------------------------------------------------------*/
/*	7.	Comments
/*-----------------------------------------------------------------------------------*/
#respond{
	margin-top:20px;
}
.comments_area{
	margin-top:20px;
}

#comments {
	font-size:18px; font-style:italic; padding-bottom:5px; border-bottom:1px dotted #ccc;
}

.commentlist {
	margin: 10px 0 ;
	list-style-type: none;
	
}
.comments-title{
	font-size:22px;
	font-weight:normal;
	font-style:italic;
	padding-top:15px;
	color:#666;
	border-bottom:1px dotted #ccc;
	padding-bottom:10px;	
}
.reply-title{
	font-size:22px;
	font-weight:normal;
	font-style:italic;
	color:#666;
	padding-top:5px;
	padding-bottom:10px;	
}

.page-template-template-full-width-php .commentlist { width: 560px; }

.commentlist li.comment > div { 
 
}

.commentlist li.comment:first-child > div { border-top: none; }

.commentlist .children li.comment:first-child > div {  }

.pinglist {
	margin: 20px 0 40px 30px;
	list-style-type: decimal;
}

.comment {
	background: #fff;
	padding:10px;
	margin-bottom:10px;
	border-bottom:1px dotted #ccc;
}
.depth-2, .depth-3, .depth-4, .depth-5 {
	border-bottom:none;
	margin-bottom:-10px;
	margin-left:40px;
}


#commentform input { margin-right: 10px; }

#commentform label small { font-size: 13px; }

#commentform label small span { color: #b2b2b6; }

#commentform textarea { width: 96%; }

.children { list-style-type: none; margin-top: 15px; padding-top: 10px; border-top: 1px dotted #CCC; }

.avatar {

}

.comment .avatar {
	float: left;
	margin: 0 0 0 0;
}

.bypostauthor .avatar { border:1px solid #c4df9e; padding:1px; }

.comment-meta, .comment-meta a { 
    border-bottom: none;
    color: #555;
    font-size: 11px; font-style:italic;
    line-height: 18px;
}

.comment-author-admin {}

.comment-author {
    color: #333;
    font: bold 13px/15px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-style: normal;
    margin-bottom: 5px;
}

.comment-author cite { font-style: normal; }

.comment-author a { border-bottom: 1px dotted #333; }

.comment-author a:hover { border-bottom: none; }

.nocomments {
	text-align: center;
	margin-left: 120px;
	padding: 0 20px 20px;
}

.comment-body ul { list-style-type: disc; }

.comment-body ol { list-style-type: decimal; }

.clear {
	clear:both;	
}


/**** Portfolio settings ****/
.row{
	margin:20px auto 30px auto;
	max-width:940px;
	padding:0 20px;
}
.row:after{
	content:"";
	display:block;
	clear:both;
}

.portfolio-tabs{
	height:34px;
	border-bottom:1px dotted #e7e6e6;
	list-style:none;
	margin:0;
	padding-bottom:5px;
	overflow:hidden;
	margin-bottom:12px;
	line-height:34px;
}
.portfolio-tabs a:hover{
	color:#666;
	background-color:#E1F4C6;
}
.portfolio-tabs li,.faq-tabs li{
	float:left;
	margin-right:5px;
}
.portfolio-tabs li span{
	color:#ddd; margin-right:2px;
}

.portfolio-tabs li a,.faq-tabs li a{
	padding:2px 5px;
	color:#9b9b9b;
	font-style:italic;
	background-color:#fff;

}

.portfolio-tabs li.active,.faq-tabs li.active{
	line-height:34px !important;

}
.portfolio-tabs li.active a,.faq-tabs li.active a{
	color:#666;
	background-color:#E1F4C6;
}
.faq-item{
	position:relative;
}
.portfolio-one .portfolio-item{
	background-color:#f7f7f7;
	margin-bottom:40px;
	padding:10px;
	overflow:hidden;
	width:98%;


}
.portfolio-one .project-feed {
	margin:0;
}
.portfolio-one .portfolio-item .image{
	width:540px;
	height:272px;
	float:left;
	margin-right:25px;
}
.portfolio-one .portfolio-item h2{
	margin:0 !important;
	padding:0 !important;
	margin-bottom:10px !important;
}
.portfolio-one .portfolio-item h4{
	margin:0 !important;
	padding:0 !important;
	margin-bottom:25px !important;
	font-weight:normal;
	font-size:13px;
}
.portfolio-one .portfolio-item p{
	margin:0;
	margin-bottom:20px;
}
.portfolio-two .portfolio-item{
	width:460px;
	height:358px;
	margin:5px;
	background-color:#f7f7f7;
}
.portfolio-three .portfolio-item{
	width:300px;
	height:273px;
	margin:6px;
	background-color:#f7f7f7;
}
.portfolio-four .portfolio-item{
	width:220px;
	height:220px;
	margin:7px;
	background-color:#f7f7f7;
	
}

.portfolio-five .portfolio-item{
	width:180px;
	height:197px;
	margin:11px;
	background-color:#f7f7f7;

}
.portfolio-four .portfolio-item:hover{
	border-color: 1px solid #A0CE4E;
}

.portfolio-four .image-extras-content{
}
.portfolio-full .flexslider{
	margin-bottom:70px;
}
.portfolio-full .project-content{
	margin-bottom:80px;
}
.portfolio-one .fluid-width-video-wrapper{
	position:static !important;
}
#content{
	padding-bottom:25px;
}
#content_related{
	padding-bottom:25px;
}
#content-blog{
	padding-bottom:25px;

}
.portfolio-area{
	padding-bottom:20px;
}
.portfolio-area .flex-control-nav{
	position: static;
	margin-top: 10px;
	display:block;
}
.portfolio-navigation{
	margin:0 0 10px 0;
	padding-bottom:10px;
	border-bottom:1px dotted #ccc;
}
.portfolio-navigation a{
	font-style:italic; color:#777;
}
.portfolio-navigation a:hover {
	color:#58A623;
}

.portfolio-navi-next {
	background: url(images/previous.gif) no-repeat 0px 5px; padding-left:18px;
	float:left; width:60px;
}
.portfolio-navi-previous {
	background: url(images/next.gif) no-repeat 65px 5px; padding-right:18px;
	float:right; width:60px; text-align:right;
}

.portfolio-misc-info {
	padding:0 0 10px 0;
	margin:10px 0;
	border-bottom:1px dotted #ccc;
	font-size:13px;

}
.portfolio-misc-info-left{
	width:270px;
	float:left;
	margin-right:10px;
	border-right:1px dotted #ccc;
	border-bottom:none;
}
.portfolio-related{
	padding-top:10px;
}

.posts-boxes{
	padding-top:30px;
}

.title_related{
	margin-bottom:20px;
}
.title_related h2{
	font-size:20px; 	
	color:#666; 
	background:url(images/dots.png) repeat-x 0px 10px; 
	line-height:normal;
	padding:0px;
}
.title_related h2 span{
	background-color:#fff; padding:0 5px;
}

.project-info-box{
	padding-bottom:5px;
	font-style:italic;
	color:#888;	
}
.project-info-box strong{
	font-style: normal;
	color:#666;	
}


.project-description {	
	font-size:11px;
	line-height:18px;
	padding-bottom:5px;
	color:#666;
}
.project-description h3 {
	padding:10px 0;
	line-height:normal;
	font-size:13px;
}
/* Elastic video script */   
.video-container {
    position: relative;
    padding-bottom: 36.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
.sidebar-widget .video-container{
	padding-top:0px;
}
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
   
/*  Project Feed  --------------------------------*/

    .project-feed {
        margin: 0 0 10px 0;
		
    }
	.project-feed .title {
		text-align:center; width:100%; font-size:15px; margin-top:4px; 
	}
	.project-feed .blogpost {
		text-align:center; width:100%; font-size:15px; 
	}
	
	.project-feed .args {
		text-align:center; width:100%; font-size:11px;  font-style:italic;
	}

    .project-feed a {        
		color:#333;	
    }
	.project-feed .title  a:hover, .project-feed .blogpost a:hover {
		background-color:#E1F4C6; color:#666; 
    }
	
	.project-feed .args a {
		color:#666; font-family:Arial, Helvetica, sans-serif;padding:2px 0px;
	}
	
	.project-feed .args a:hover {
		background-color:#E1F4C6; 
    }

	.one-fifth .gallery_zoom {
		position: absolute;
		top: 0px;
		left: 0px;
		display: none;
		background: rgba(194, 255, 106, .75);
		width: 180px;
		height: 138px;
	}
	.one-fourth .gallery_zoom {
		position: absolute;
		top: 0px;
		left: 0px;
		display: none;
		background: rgba(194, 255, 106, .75);
		width: 220px;
		height: 161px;
	}
	.one-fourth-recent .gallery_zoom {
		position: absolute;
		top: 0px;
		left: 0px;
		display: none;
		background: rgba(194, 255, 106, .75);
	}
	
	.one-third .gallery_zoom {
		position: absolute;
		top: 0px;
		left: 0px;
		display: none;
		background: rgba(194, 255, 106, .75);
		width: 300px;
		height: 214px;
	}
	.one-half .gallery_zoom {
		position: absolute;
		top: 0px;
		left: 0px;
		display: none;
		background: rgba(194, 255, 106, .75);
		width: 460px;
		height: 295px;
	}
	.full .gallery_zoom {
		position: absolute;
		top: 10px;
		left: 10px;
		display: none;
		background: rgba(194, 255, 106, .75);
		width: 540px;
		height: 272px;
	}
	.full-blog{
		
	}
	.full-blog .gallery_zoom {
		position: absolute;
		top: 0px;
		left: 0px;
		display: none;
		background: rgba(194, 255, 106, .75);
		width: 100%;
		height:auto;
	}
	.full .image_show{
		float: left; width: 540px; height:272px; padding-right:20px;
	}

	.full .title {
		text-align:left; font-size:20px; 
	}
	.full .args {
		text-align:left;
	}

	

/**** Isotope Filtering ****/
.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/
.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:         top, left, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

/* Breadcrumb css */

.page-title{
	width:40%;
	margin:0 auto;
	overflow:hidden;
	float:right;
}

.page-title ul{
	float:right;
	list-style:none;
	margin:0;
	padding:0;
}
.page-title ul li{
	margin:0;
	padding:0;
	display:inline;
	color:#cdcdcd;
	font-size:11px;
	margin-right:5px;
}
.page-title ul li a{
	color:#cdcdcd;
	padding-right:5px;
}
.page-title ul li a:hover{
	color:#fff;
	padding-right:5px;
}
.page-title ul li:after{
	content:'/';
}
.page-title ul li:last-child:after{
	content:'';
}
/* This controlls the Popular / Recent Posts Tabs Widget */

.tab-holder{

}
.tab-holder .tabs{
	height:41px;
	list-style:none;
	padding:0;
	overflow:hidden;
	margin-bottom:-1px;	
}
.tab-holder .tabs li{
	margin-right:3px;
	padding:0;	
	height:39px;
	float:left;
	border-bottom:none;
	border:1px solid #ccc;

}
.tab-holder .tabs li a{
	height:39px !important;
	line-height:39px !important;
	font:13px/39px arial, helvetica, sans-serif; 
	text-indent:0 !important;
	padding:0 15px !important;	
}
.tab-container {
	border:1px solid #ccc;
}


/*-----------------------------------------------------------------------------------*/
/*	12.	Shortcode Styles
/*-----------------------------------------------------------------------------------*/

.s1_2, .s1_3, .s2_3, .s3_4, .s1_4 ,.s1_5,.s2_5,.s3_5, .s4_5    { margin-right: 2%; float: left; line-height:21px; margin-bottom:10px; position:relative; }
.s1_2 { width: 49%; }
.s1_3 { width: 32%; }
.s2_3 { width: 66%; }
.s1_4 { width: 23.5%; }
.s3_4 { width: 74.5%; }
.s1_5 { width: 18.4%; }
.s2_5 { width: 38.8%; }
.s3_5 { width: 59.2%; }
.s4_5 { width: 79.6%; }
.final { margin-right: 0 !important; clear: right; }
.clearall{ clear: both; display: block; font-size: 0px; height: 0px; line-height: 0; width: 100%; overflow:hidden; }

/* Dropcap Style */
.dropcap { 
	margin-right: 6px;
	margin-left: 2px;
	font-size: 49px;
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	float: left; position:relative; top:4px;
		
}
.dropcap_sm { 
	margin-right: 6px;
	margin-left: 2px;
	font-size: 29px;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	float: left; position:relative; top:4px;		
}

.green_dc{
	color:#A5CB5E;
}
.yellow_dc{
	color:#FEAD4D;
}
.red_dc{
	color:#E4436C;
}
.blue_dc{
	color:#51C4ED;
}
.purple_dc{
	color:#D798D1;
}
.black_dc{
	color:#444;
}
.grey_dc{
	color:#aaa;
}
.white_dc{
	color:#fff;
}

.divider_blank{
	height:1px; padding-bottom:15px;
}
.divider_solid{
	height:1px; padding-bottom:15px; border-top:1px solid #ececec;
}
.divider_double{
	height:1px; padding-bottom:15px; border-top:3px double #ececec;
}
.divider_dotted{
	height:1px; padding-bottom:15px; border-top:1px dotted #ddd;
}

.circle{
	-moz-border-radius: 26px;
	-webkit-border-radius: 26px;
	border-radius: 26px;
}
.rounded{
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}
.blank{
	line-height:30px;
}

/* Highlight Style */

.high_yellow { background:#febf4d; padding:0 3px; }
.high_green { background:#a5cb5e; color:#fff; padding:0 3px; }
.high_red { background:#e4436c; color:#fff; padding:0 3px; }
.high_blue { background:#73d0f1; color:#fff; padding:0 3px; }
.high_purple { background:#d798d1; color:#fff; padding:0 3px; }
.high_black { background:#454545; color:#fff; padding:0 3px; }
.high_grey { background:#e1e1e1; padding:0 3px; }

/* Simple Blockquote */

blockquote{
	font-size:14px;
	color:#666;
	border-left:4px solid #CCC;
	padding:10px 40px 10px 40px;
	margin:20px 0 20px 40px; font-style:italic;
}
blockquote p{
	margin-bottom:0px;
}

.review{
	margin:20px 0;
}

/* Testimonial */
.review blockquote{
	font-size:13px;
	background:none !important;
	border-left:none !important;
	padding:0 !important;
	margin:0 !important;
}
.review blockquote q{
	display:block;
	padding:25px 14px 24px 24px;
	background:#f8f8f8;
	font-style:italic;
	border-left:4px solid #ccc;
}
.review blockquote div{
	display:block;
	padding:12px 0 0 30px;
	overflow:hidden;
	color:#333;
	font-style:normal;
	background:url(images/toggles/testimonials.gif) no-repeat 55px 0;
}
.review blockquote div strong{
	padding:3px 3px 2px 52px;
	float:left;
	font-size:12px; font-weight:bold; text-transform:uppercase;
}
.review blockquote div span{
	padding:3px 0 0;
	float:left;
	font-size:11px; font-weight:bold; text-transform:uppercase; color: #9f9d9d; font-style:italic;
}

/* Simple List */
ul.cool_list{
	margin: 10px 0;
	padding: 0;
	list-style-type: none;
}
ul.cool_list li {
	color:#777;
	margin-left: 10px;
	line-height: 22px;
	list-style: none;
	overflow: inherit;
	padding: 2px 0 2px 22px;
}
ul.cool_list li.green_style {
		background: url("images/bullets/bullet1.png") no-repeat 0 7px;
}
ul.cool_list li.grey_style {
		background: url("images/bullets/bullet2.png") no-repeat 0 7px;
}
ul.cool_list li.red_style {
		background: url("images/bullets/bullet3.png") no-repeat 0 7px;
}
ul.cool_list li.blue_style {
		background: url("images/bullets/bullet4.png") no-repeat 0 7px;
}
ul.cool_list li.yellow_style {
		background: url("images/bullets/bullet5.png") no-repeat 0 7px;
}
ul.cool_list li.black_style {
		background: url("images/bullets/bullet6.png") no-repeat 0 7px;
}
ul.cool_list li.purple_style {
		background: url("images/bullets/bullet7.png") no-repeat 0 7px;
}

/* Toggle Style */
.outer_toggle{
	background-color:#f8f8f8;
	margin-bottom:15px;
	padding:10px;
}

h5.toggle{
	overflow:hidden;
	margin:5px;
	padding:0;
	font-style:normal;
}
h5.toggle a{
	font-weight:bold; font-size:12px; line-height:18px;
	cursor:pointer; 
	overflow:hidden;
	margin:0;
	float:left;
	width:100%;
}
h5.toggle.active a{
	border-bottom:0;
}
h5.toggle span{
	display:block;
	width:16px;
	height:16px;
	float:left;
	margin:0 5px 0 0;
}

h5.toggle.active span{
	display:block;
	width:16px;
	height:15px;
	float:left;
	margin-right:5px;
}

h5.toggle a.green_color{
	color:#58a623 !important;
}
h5.toggle span.green_style{
	background: url("images/toggles/toggle_green.png") no-repeat center center;
}
h5.toggle.active span.green_style{
	background: url("images/toggles/toggle_green_minus.png") no-repeat center center;
}
h5.toggle a.grey_color{
	color:#aaaaaa !important;
}
h5.toggle span.grey_style{
	background: url("images/toggles/toggle_grey.png") no-repeat center center;
}
h5.toggle.active span.grey_style{
	background: url("images/toggles/toggle_grey_minus.png") no-repeat center center;
}

h5.toggle a.blue_color{
	color:#51c4ed !important;
}
h5.toggle span.blue_style{
	background: url("images/toggles/toggle_blue.png") no-repeat center center;
}
h5.toggle.active span.blue_style{
	background: url("images/toggles/toggle_blue_minus.png") no-repeat center center;
}

h5.toggle a.red_color{
	color:#E4436C !important;
}
h5.toggle span.red_style{
	background: url("images/toggles/toggle_red.png") no-repeat center center;
}
h5.toggle.active span.red_style{
	background: url("images/toggles/toggle_red_minus.png") no-repeat center center;
}

h5.toggle a.yellow_color{
	color:#fead4d !important;
}
h5.toggle span.yellow_style{
	background: url("images/toggles/toggle_yellow.png") no-repeat center center;
}
h5.toggle.active span.yellow_style{
	background: url("images/toggles/toggle_yellow_minus.png") no-repeat center center;
}

h5.toggle a.black_color{
	color:#444 !important;
}
h5.toggle span.black_style{
	background: url("images/toggles/toggle_black.png") no-repeat center center;
}
h5.toggle.active span.black_style{
	background: url("images/toggles/toggle_black_minus.png") no-repeat center center;
}

h5.toggle a.purple_color{
	color:#D798D1 !important;
}
h5.toggle span.purple_style{
	background: url("images/toggles/toggle_purple.png") no-repeat center center;
}
h5.toggle.active span.purple_style{
	background: url("images/toggles/toggle_purple_minus.png") no-repeat center center;
}


h5.toggle span.toggle-title{
	float:left;
	width:90%;
}
.toggle-content{
	padding-left:26px;
	position:relative;
	color: #777;
	font-size:12px;
}
h5.toggle.active + .toggle-content{

}

/* Flexslider Shortcode Simple Mod */

.choose{
	display:none;
}


/* Tabs Style */

.shortcode-tabs .tab-hold .tabs li{

}
.shortcode-tabs .tab-hold .tabs li a{
	display:block;	
	padding:0 ;
	text-indent:15px ;
	border:none;
	font-weight:bold;
	font-style: italic;

}


.shortcode-tabs .tab-hold .tabs li.active a{
	background:#fff;
	border-bottom:1px solid white;
	text-shadow:none;
}
.shortcode-tabs .tab-hold .tabs li.active a.black{
	color:#777;
}
.shortcode-tabs .tab_content{
	padding:15px;
	overflow:hidden;
	color:#999;
}
.shortcode-tabs .tab_content *:last-child{
	margin-bottom:0;
}
.shortcode-tabs{
	margin:20px 0;
}

.grey {
	color: #444;	
	background-image: -moz-linear-gradient(#ededed, #e1e1e1);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e1e1e1), to(#ededed));
	background-image: -webkit-linear-gradient(#ededed, #e1e1e1);
	background-image: -o-linear-gradient(#ededed, #e1e1e1);
	text-shadow: 1px 1px 1px #fff;
	background-color: #e1e1e1;
}

/* Gallery Shortcode */
.post-gallery{
	margin-bottom:10px;
	width:98%;
	padding-right: 10px;
}
.post-gallery-item{
	float:left; max-width:140px;  margin:0 15px 15px 0;
}

.post-gallery-item img {
	width:100%;
	height:auto;
}
.post-gallery-item a img {
	border:1px solid #fff;
	padding:2px;
	-webkit-transition: border-color .2s linear;
	-moz-transition: border-color .2s linear;
	-o-transition: border-color .2s linear;
	-ms-transition: border-color .2s linear;
	transition: border-color .2s linear;
}
.post-gallery-item a:hover img{
	border:1px solid #58a623;
}

/* Recent Posts */
.col {
	max-width:228px;
	margin-right:1%;
	float:left;
	width:24%
}
.col h3 {
	color:#454545;
	font-style:normal; font-size:14px; line-height:normal; padding:0 0 10px 0;
}

.col .flex-control-nav {
	display:none;
}

.col .description {
	background-color:#f7f7f7; padding:4px 10px;
}

.last {
	border-right:none; margin-right:0; padding-right:0;
}

.col .date{
	font-size:11px; font-style:italic; margin-bottom:3px;
}

/* Progress Bar */
.progress-bar {
	background: #f1f1f1;
	height: 30px;
	position: relative;
	margin-bottom: 10px;
}
.progress-bar-content {
	background:#a0ce4e;
	height: 30px;
}
.progress-bar .progress-title {
	font-size: 13px;
	color: #ffffff;
	font-weight: normal;
	padding-top: 6px;
	padding-left:20px;
}
.progress-bar .percentage {
	font-size: 13px;
	color: #626363;
	font-weight: normal;

}

/* Meet the team */
.person-img{
	margin-bottom:25px;
}
.person-author{
}
.person-author-wrapper{
	float:left;
	font:13px/20px 'MuseoSlab500Regular', arial, helvetica, sans-serif !important;
	color:#333333 !important;
	margin-bottom:25px;
}
.person-author-wrapper span{
	display:block;
}
.person-author a{
	background:url(../images/share.png) no-repeat;
	display:inline-block;
	text-indent:-10000px;
	height:19px;
}
.person-author .social-icon{
	display:block;
	float:right;
	position:relative;
	margin-left:19px;
	margin-top:10px;
}
.person-author .facebook{
	width:9px;
	background-position:0 0;
}
.person-author .twitter{
	width:13px;
	background-position:-38px 0;
}
.person-author .linkedin{
	width:14px;
	background-position:-80px 0;
}
.person-author .dribbble{
	background-image:url(../images/dribbble-icon.png);
	width:16px;
	background-position:0 0;
}
.person-author .social-icon .popup p{
	margin:0 !important;
}

/* Alert */
.alert{
	padding:8px;
	margin:20px 0;
	position:relative;
}
.alert .msg{
	padding:0 40px;
}
.alert .toggle-alert{
	position:absolute;top:14px;right:25px;
	display:block;
	text-indent:-10000px;
	background:url(images/toggles/close.png) no-repeat top left;
	width:12px;
	height:12px;
}
.general{
	background:#D9EDF7 url(images/toggles/info.png) no-repeat 20px 9px;
	color:#3A87AD;
	border:1px solid #BCE8F1;
}
.error{
	background:#F2DEDE url(images/toggles/exclamation.png) no-repeat 20px 9px;
	border:1px solid #EED3D7;
	color:#B94A48;
}
.success{
	background:#DFF0D8 url(images/toggles/tick.png) no-repeat 20px 9px;
	border:1px solid #D6E9C6;
	color:#468847;
}
.notice{
	background:#FCF8E3 url(images/toggles/alert.png) no-repeat 20px 9px;
	border: 1px solid #FBEED5;
	color:#C09853;
}



/* Blogposts stylizations */
.blogpost{
	overflow: hidden;
}
.blogpost h2, .blogpost h1{
	padding:15px 0;
	line-height:normal;
}

.blogpost .flex-control-nav{
	bottom:5px;
	display:none;
}
.blogpost_split {
	background:url(images/dots.png) repeat-x; height:11px; 
	margin-bottom: 10px;
}

.blogpost_small_pic{
	width:50%; float:left;
}
.blogpost_small_desc{
	float:right; width:47%; 
}
.blogpost_small_desc h2{
	padding:2px 0 15px 0;
}

.post_container{
	width:64.7%; float:left;
}
.post_container_full{
	width:100%;
}

.post-atts{
	font-size:10px; text-transform:uppercase;
	margin-bottom:10px;
	padding-top:10px;
	border-top:1px dotted #ccc;
}
.left-atts{
	float:left;
}
.right-atts{
	float:right;
}
.right-atts a{
	font-style:italic;
}
.post-atts span{
	padding:0 10px;
}
.social_icons{
	margin:50px 0 20px 0; padding:20px; border-left:5px solid #d8d8d8; background-color:#f3f3f3; font-size:16px; line-height: 28px;
}

.get_social {

	float: right;
	padding: 0px;
	height: 30px;
}
.get_social li {
	float: left;
}
.get_social li a {
	display: block;
	width: 31px;
	height: 30px;
	outline: none;
	margin-left:10px;
	background: transparent url(images/social-icons.png) no-repeat;
	text-indent: -9000px;
	position: relative;
	-webkit-transition: background-position 0.5s;
	-moz-transition:    background-position 0.5s;
	-o-transition:      background-position 0.5s;

}

.get_social li .fb{
    background-position:0px -31px;	
}
.get_social li .fb:hover{
	background-position:0px 0px;
}
.get_social li .tw{
    background-position:-39px -31px;
}
.get_social li .tw:hover{
	background-position:-39px 0px;
}
.get_social li .lnk{
    background-position:-79px -31px;
}
.get_social li .lnk:hover{
    background-position:-79px 0px;
}
.get_social li .rd{
    background-position:-118px -31px;
}
.get_social li .rd:hover{
    background-position:-118px 0px;
}
.get_social li .tu{
    background-position:-157px -31px;
}
.get_social li .tu:hover{
    background-position:-157px 0px;
}
.get_social li .gp{
    background-position:-196px -31px;
}
.get_social li .gp:hover{
    background-position:-196px 0px;
}


.post-content {
	margin-bottom:10px;
}
.post-content p{
	margin:0;
	margin-bottom:20px;
	
}
.post-content ul.arrow{
	list-style:none;
	margin:0;
	padding:0;
}
.post-content ul.arrow li:before{
	display:inline-block;
	background-image:url(../images/arrow-bullet.png);
	background-repeat:no-repeat;
	background-position:center center;
	background-color:#a0ce4e;
	height:18px;
	-moz-border-radius:75px;
	-webkit-border-radius:75px;
	width:18px;
	content:' ';
	float:left;
	margin-right:0;
	margin-left:-25px;
}
.post-content ul.arrow li{
	line-height:18px;
	margin:0;
	padding:0;
	margin-bottom:15px;
	padding-left:25px;
}
.post-content blockquote{
	background:#f5f5f5;
	font:13px/20px 'PTSansItalic', arial, helvetica, sans-serif;
	color:#444444;
	border-left:4px solid #a0ce4e;
	padding:15px;
}
.post-content blockquote *:last-child{
	margin-bottom:0;
}

.sidebar{
	width:32%;
	float:right;
	margin-top:3px;
}

.sidebar-widget{
	color:#8a8a8a;
	margin-bottom:45px;
}
.sidebar-widget .textwidget p {
	margin-bottom:0px;
}
.sidebar-widget ul li {
	padding:5px 0 10px 25px;
	margin-bottom:5px;
	border-bottom:1px dotted #ececec;
	background:url(images/ul-list.png) no-repeat 5px 12px;
}

.sidebar-title{
	
}
h3.sidebar-title{	
	font-style:italic;
	margin-bottom: 20px;
	margin-right: 10px;
	position: relative;
	float: left;
	font-size:14px; font-weight:bold;
	color:#777;
	padding:5px 0 0 0;
}
.split-line{
	height: 0px;
	border-top: 1px solid #ececec;
	overflow: hidden;
	position: relative;
	top: 18px;
}
/* This controlls the Custom Recent Post Widget */
.latest-posts{
	border-bottom:1px dotted #ECECEC; margin-bottom:10px; padding-bottom:5px;
}
.latest-posts span {
	font-size:11px;
}

.latest-posts h2{
	font-size:12px; font-weight:normal; padding-top:3px; margin:0; line-height:14px;
}

.latest-posts-thumb{
	float:left; margin-right:15px;
	
}
.latest-posts-thumb a img{
	border:1px solid #fff;
	padding:2px;
	-webkit-transition: border-color .2s linear;
	-moz-transition: border-color .2s linear;
	-o-transition: border-color .2s linear;
	-ms-transition: border-color .2s linear;
	transition: border-color .2s linear;
	width:70px;
	height:auto;
}
.latest-posts-thumb a:hover img{
	border:1px solid #58a623;
}
.latest-comm-thumb{
	float:left; margin-right:15px;
	
}
.latest-comm-thumb a img{
	border:1px solid #fff;
	padding:2px;
	-webkit-transition: border-color .2s linear;
	-moz-transition: border-color .2s linear;
	-o-transition: border-color .2s linear;
	-ms-transition: border-color .2s linear;
	transition: border-color .2s linear;
	width:45px;
	height:auto;
}
.latest-comm-thumb a:hover img{
	border:1px solid #58a623;
}

/* This controlls the Custom Recent Portfolio Widget */

.recent-portfolio a img{
	float:left;
	margin:5px;
	padding:2px;
	border:1px solid #fff;
	-webkit-transition: border-color .2s linear;
	-moz-transition: border-color .2s linear;
	-o-transition: border-color .2s linear;
	-ms-transition: border-color .2s linear;
	transition: border-color .2s linear;
	width:80px;
	height:auto;
	
}
.recent-portfolio a:hover img{
	border:1px solid #58a623;	
}
/* This controlls the Tags Widget */

.tagcloud{
	padding:0 5px;
}
.tagcloud a{
	padding:5px;
}


/* Search Widget ------------------------------------*/

.widget_search #s { width: 200px; }

.widget_search form,
.widget_search fieldset { margin: 0; }

/*---------------------------------------------------*/

#gmap{
	height:416px;
	margin-bottom:50px;
}
#gmap iframe{
	width:100%;
	height:416px;
	border:0;
}
.read-more{
	background:url(../images/arrow-ul.png) no-repeat center right;
	padding-right:15px;
}
.post-slideshow{
	margin-bottom:30px !important;
}
.post-slideshow .image,.floated-post-slideshow .image{
	margin-bottom:0 !important;
}
.post-content h1, .post-content h2, .post-content h3, .post-content h4, .post-content h5, .post-content h6 {
	font-family:'MuseoSlab500Regular', arial, helvetica, sans-serif;
	color:#333333;
	font-weight:normal;
}
.post-content h4{
	font-size:13px !important;
}
.post-content h5{
	font-size:12px !important;
}
.post-content h6{
	font-size:11px !important;
}
/* Button */
.buttons a{
	margin-right:30px;
}
.button {
	display: inline-block; 
	font-size: 12px; 
	text-decoration: none!important; 
	font-family: Helvetica, Arial, sans serif;
	padding: 8px 12px; 
	border-radius: 3px; 
	-moz-border-radius: 3px; 
	box-shadow: inset 0px 0px 2px #fff;
	-o-box-shadow: inset 0px 0px 2px #fff;
	-webkit-box-shadow: inset 0px 0px 2px #fff;
	-moz-box-shadow: inset 0px 0px 2px #fff;
	
}
.button.large{
	height:46px;
	line-height:46px;
	font:13px/46px arial, helvetica, sans-serif;
	text-transform:uppercase;
	text-align:center;
	padding:0 10px;
}
.button.small{
	height:32px;
	font-size:13px;
	line-height:32px;
	text-align:center;
	padding:0 10px;
}


/* The styles for the grey button */
.grey {
	color: #444;
	border: 1px solid #d0d0d0;
	background-image: -moz-linear-gradient(#ededed, #e1e1e1);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e1e1e1), to(#ededed));
	background-image: -webkit-linear-gradient(#ededed, #e1e1e1);
	background-image: -o-linear-gradient(#ededed, #e1e1e1);
	text-shadow: 1px 1px 1px #fff;
	background-color: #e1e1e1;
}
.grey:hover {
	border: 1px solid #b0b0b0;
	background-image: -moz-linear-gradient(#e1e1e1, #ededed);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ededed), to(#e1e1e1));
	background-image: -webkit-linear-gradient(#e1e1e1, #ededed);
	background-image: -o-linear-gradient(#e1e1e1, #ededed);
	background-color: #ededed;
}
.grey:active {border: 1px solid #666;}

/* The styles for the red button */
.red {
	color: #923c47;
	border: 1px solid #d96d7c;
	background-image: -moz-linear-gradient(#f997b0, #f6677b);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f6677b), to(#f997b0));
	background-image: -webkit-linear-gradient(#f997b0, #f6677b);
	background-image: -o-linear-gradient(#f997b0, #f6677b);
	text-shadow: 1px 1px 1px #fdbcc7;
	background-color: #f6677b;
}
.red:hover {
	border: 1px solid #c75964;
	background-image: -moz-linear-gradient(#f6677b, #f997b0);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f997b0), to(#f6677b));
	background-image: -webkit-linear-gradient(#f6677b, #f997b0);
	background-image: -o-linear-gradient(#f6677b, #f997b0);
	background-color: #f997b0;
}
.red:active {border: 1px solid #ab3e4b;}

/* The styles for the blue button */
.blue {
	color: #41788c;
	border: 1px solid #6fb1c7;
	background-image: -moz-linear-gradient(#aae5f7, #73d0f1);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#73d0f1), to(#aae5f7));
	background-image: -webkit-linear-gradient(#aae5f7, #73d0f1);
	background-image: -o-linear-gradient(#aae5f7, #73d0f1);
	text-shadow: 1px 1px 1px #bfeafb;
	background-color: #73d0f1;
}
.blue:hover {
	border: 1px solid #4690ad;
	background-image: -moz-linear-gradient(#73d0f1, #aae5f7);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#aae5f7), to(#73d0f1));
	background-image: -webkit-linear-gradient(#73d0f1, #aae5f7);
	background-image: -o-linear-gradient(#73d0f1, #aae5f7);
	background-color: #aae5f7;
}
.blue:active {border: 1px solid #3b778b;}

/* The styles for the green button */
.green {
	color: #5a742d;
	border: 1px solid #95b959;
	background-image: -moz-linear-gradient(#cae387, #a5cb5e);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#a5cb5e), to(#cae387));
	background-image: -webkit-linear-gradient(#cae387, #a5cb5e);
	background-image: -o-linear-gradient(#cae387, #a5cb5e);
	text-shadow: 1px 1px 1px #dff4bc;
	background-color: #a5cb5e;
}
.green:hover {
	border: 1px solid #687e30;
	background-image: -moz-linear-gradient(#a5cb5e, #cae387);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#cae387), to(#a5cb5e));
	background-image: -webkit-linear-gradient(#a5cb5e, #cae387);
	background-image: -o-linear-gradient(#a5cb5e, #cae387);
	background-color: #cae387;
}
.green:active {border: 1px solid #506320;}

/* The styles for the black button */
.black {
	color: #fff;
	border: 1px solid #4d4d4d;
	background-image: -moz-linear-gradient(#656565, #454545);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#454545), to(#656565));
	background-image: -webkit-linear-gradient(#656565, #454545);
	background-image: -o-linear-gradient(#656565, #454545);
	text-shadow: 1px 1px 1px #6d6d6d;
	background-color: #454545;
}
.black:hover {
	color: #dbdbdb;
	border: 1px solid #363636;
	background-image: -moz-linear-gradient(#454545, #656565);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#656565), to(#454545));
	background-image: -webkit-linear-gradient(#454545, #656565);
	background-image: -o-linear-gradient(#454545, #656565);
	background-color: #656565;
}
.black:active {border: 1px solid #000;}

/* The styles for the yellow button */
.yellow {
	color: #986a39;
	border: 1px solid #e6b650;
	background-image: -moz-linear-gradient(#ffd974, #febf4d);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#febf4d), to(#ffd974));
	background-image: -webkit-linear-gradient(#ffd974, #febf4d);
	background-image: -o-linear-gradient(#ffd974, #febf4d);
	text-shadow: 1px 1px 1px #fbe5ac;
	background-color: #febf4d;
}
.yellow:hover {
	border: 1px solid #c1913d;
	background-image: -moz-linear-gradient(#febf4d, #ffd974);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffd974), to(#febf4d));
	background-image: -webkit-linear-gradient(#febf4d, #ffd974);
	background-image: -o-linear-gradient(#febf4d, #ffd974);
	background-color: #ffd974;
}
.yellow:active {border: 1px solid #936b26;}

/* The styles for the purple button */
.purple {
	color: #7e5d7c;
	border: 1px solid #cd93c6;
	background-image: -moz-linear-gradient(#e9c4e3, #d798d1);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#d798d1), to(#e9c4e3));
	background-image: -webkit-linear-gradient(#e9c4e3, #d798d1);
	background-image: -o-linear-gradient(#e9c4e3, #d798d1);
	text-shadow: 1px 1px 1px #f1ceef;
	background-color: #d798d1;
}
.purple:hover {
	border: 1px solid #886382;
	background-image: -moz-linear-gradient(#d798d1, #e9c4e3);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e9c4e3), to(#d798d1));
	background-image: -webkit-linear-gradient(#d798d1, #e9c4e3);
	background-image: -o-linear-gradient(#d798d1, #e9c4e3);
	background-color: #e9c4e3;
}
.purple:active {border: 1px solid #6a4664;}

/* The styles for the greyblue button */
.gblue {
	color: #57646d;
	border: 1px solid #929ba2;
	background-image: -moz-linear-gradient(#bbcbd8, #8ea5b5);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#8ea5b5), to(#bbcbd8));
	background-image: -webkit-linear-gradient(#bbcbd8, #8ea5b5);
	background-image: -o-linear-gradient(#bbcbd8, #8ea5b5);
	text-shadow: 1px 1px 1px #c6d4df;
	background-color: #8ea5b5;
}
.gblue:hover {
	border: 1px solid #656f78;
	background-image: -moz-linear-gradient(#8ea5b5, #bbcbd8);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#bbcbd8), to(#8ea5b5));
	background-image: -webkit-linear-gradient(#8ea5b5, #bbcbd8);
	background-image: -o-linear-gradient(#8ea5b5, #bbcbd8);
	background-color: #bbcbd8;
}
.gblue:active {border: 1px solid #434f5a;}



/* Style my custom toggle box */
.reading-box{
	overflow:hidden;
	padding:15px;	
	background-color:#f8f8f8;
	margin:40px 0;
	-webkit-transition: background-color .2s linear, border-color .2s linear;
	-moz-transition: background-color .2s linear, border-color .2s linear;
	-o-transition: background-color .2s linear, border-color .2s linear;
	-ms-transition: background-color .2s linear, border-color .2s linear;
	transition: background-color .2s linear, border-color .2s linear;
}
.green_border{
	border:2px solid #d2e5ae;
}
.green_border:hover{
	border:2px solid #A5CB5E;
}
.red_border{
	border:2px solid #fab3bd;
}
.red_border:hover{
	border:2px solid #F6677B;
}
.blue_border{
	border:2px solid #b9e7f8;
}
.blue_border:hover{
	border:2px solid #73D0F1;
}
.yellow_border{
	border:2px solid #fedfa6;
}
.yellow_border:hover{
	border:2px solid #febf4d;
}
.purple_border{
	border:2px solid #ebcbe8;
}
.purple_border:hover{
	border:2px solid #D798D1;
}
.grey_border{
	border:2px solid #f0f0f0;
}
.grey_border:hover{
	border:2px solid #E1E1E1;
}

.black_border{
	border:2px solid #a2a2a2;
}
.black_border:hover{
	border:2px solid #454545;
}


.reading-box:hover {		
	background-color:#fff;
}
.reading-box p{
	margin-bottom:0;
}
.reading-box h2{
	margin:0 0 7px;
	font-size:16px;
	font-weight:bold;
	line-height:normal;
	padding:0;
}

.continue{
	float:right;
}

.mobile-button{
	display:none !important;
	margin:20px 0 0;
}



/* Media queries  1160? */
@media screen and (max-width: 1100px){
	.portfolio_content {
		width:70%;
	}
}
@media screen and (max-width: 1080px){

}
@media screen and (max-width: 1000px){

}
/* --------------------------------------------------
	:: Typography
	-------------------------------------------------- */
	

	
@media screen and (max-width: 960px) {
	.table {
		display: table;   /* Allow the centering to work */
		margin: 0 auto;
	}
	.main-navigation {
		width:100%;
		float:none;
	}
	.front_widget{		
		width:47%;
		padding-right:15px;
	}
	.second, .last{
		border-right:none;
		margin-right: 0;
		padding-right: 0;
	}
	.div_bar{
		display:block;
		height:3px; width:100%; border-top:1px dotted #ccc; clear:both;
	}
	.footer_widget_content{
		width:46%;
	}
	.forth{
		clear:none;
	}
	.third{
		clear: both;
	}
	
	.branding {
		float:none;
		margin:10px auto;
		border:none;
		text-align:center;
		padding-bottom:20px;		
	}
		
	.nav-top {
		padding-bottom:15px;	
		height:30px;
	}
	
	.nav-wrapper {
		float: none;
		margin: 0 auto;
		text-align: center;
		padding: 7px 0;
	}
	
	.nav-top, .nav-main, .nav-top ul, .nav-main ul {
		float: none;
	}

	.connect {
		float: none;
		margin: 0 auto;
		padding-top:10px;
	}

    .main{
        margin-right:0;
        width:100%;
		min-height: 0px;
    }

    a.commenttime {
        float:none;
        display:block;
        padding-bottom: 10px;
    }
    .comment-meta{
        line-height:20px;
    }

	
	
}
@media screen and (max-width: 830px) {
	.portfolio-misc-responsive{
		border-bottom:none;
		width:270px;
		margin-right:10px;
		border-right:1px dotted #ccc;
		float:left;
	}
	
	.post_container {
		float:none;
		width:99%;
	}
	.sidebar{
		float:none;
		width:98%;
	}
	
	input[type=text],textarea {
		margin-top:30px;
	}

}
@media screen and (max-width: 768px){

	.nav-wrapper {
		padding: 3px 0 3px 0;
	}
	.portfolio-one .portfolio-item {
		width:540px;
	}
	.full .image_show {
		float:none; margin-bottom:15px; padding:0;
	}
	.full .title, .full .args, .full p {
		padding-left:10px;
	}
	
	.menu ul {
		left:3px;
	}

    .footer nav {
        float: none;
        margin: 0 auto;
        clear: both;
        text-align: center;
        padding: 0px 0px 40px 0px;
    }


	.footer_branding{
		float:none;
		margin:17px auto 10px auto;
		text-align:center;
		border-top:1px solid #3c3c3c;
		padding-top:18px;
	}

	.nav-top ul li a, 
	.nav-main ul li a{
		margin: 0 3px;
	}
	

	.copyright {
		float:none;
		text-align:center;
		margin:10px auto;
	}
	
}
@media screen and (max-width: 670px){
	
	
}
@media screen and (max-width: 640px){
	.menu {
		max-width:500px;
	}

	.nav-top {
		margin-bottom:30px;
		max-width:100%;
		margin:0 auto;
	}
	.table{
		width:100%;
	}
	
	
	.main-navigation {
		border:0;
		background:none;
		}
	.main-navigation #navigation{text-align:center;border:none;}
	#navigation ul{float:none;display:inline-block;}
	#navigation ul ul{display:none;}
	.js #navigation > ul{display:none !important;}
	.js #navigation select{display:inline-block !important;max-width:none;border:none;padding:7px 15px;margin-top:10px;width:100%;color: #fff;
		background: #222;text-shadow: 0 1px 1px rgba(255, 255, 255, 0.4); font-size: 12px;
		-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2) inset , 0 1px 1px rgba(255, 255, 255, 0.9);
		-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2) inset , 0 1px 1px rgba(255, 255, 255, 0.9);
		box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2) inset , 0 1px 1px rgba(255, 255, 255, 0.9);
	}
	.bellow_header_title {
		text-align:center;
	}
	
	.page-title {
		float:none;		
		text-align:center;
		margin-top:10px;
		
	}
	.page-title ul {
		float:none;
	}
	.social_icons {
		text-align:center;
	}
	.get_social {
		float:none;
		margin:20px auto 0 auto;
		width:250px;
	}
	.left-atts {
		float:none;

	}
	.right-atts {
		float:none;
		margin-top:10px;
		font-weight:bold; font-size:16px;
	}
	.blogpost h2 {

	}
	.clear-responsive{
		margin:10px 0; height:1px; clear:both;
	}
	.col{
		width:45%;
		margin-right:4%;
	}
}

@media screen and (max-width: 600px){
	.div_bar {
		display:none;
	}
	.front_widget{
		width:100%; border-right:none; padding:0; margin:10px 0; padding-bottom:20px; border-bottom:1px dotted #ccc;
	}
	.portfolio-one .portfolio-item {
		width:400px;
	}
	.full .gallery_zoom {
		width:400px;
		height:201px;
	}
	.full .image_show {
		width:400px;
		height:201px;
	}
	.full .image_show img {
		width:400px;
		height:auto;
	}
	.last{
		border-bottom:none;
	}
	.footer_widget_content{
		width:97%
	}

	.comment-form #respond{
		margin-left: 0px;
	}
	
	
}
@media screen and (max-width: 470px){	

	.copyright, .footer_branding{
		width:210px;
	}
	
	.blogpost_small_pic {
		width:97%;
		float:none;
	}
	.blogpost_small_desc {
		float:none;
		width:97%;
	}
	
	.blogpost_small_desc h2 {
		padding:15px 0;
	}
	
	.author-avatar{
		float: none;
		width: 100%;
	}
	.box .author-avatar img{
		float: none;
		margin: 0 auto;
	}
	.author-page-desc,
	.author-info .author-page-desc{
		margin: 15px 0px 0px 0px;
	}
	.author-page-desc h4,
	.author-page-desc h1{
		text-align: center;
	}
	
}
@media screen and (max-width: 420px){
	.portfolio-one .portfolio-item {
		width:300px;
	}
	.full .gallery_zoom {
		width:300px;
		height:151px;
	}
	.full .image_show {
		width:300px;
		height:151px;
	}
	.full .image_show img {
		width:300px;
		height:auto;
	}

	.author-bio{
		margin-left: 0px;
	}
	.col{
		width:95%;
		margin-right:0;
		margin-bottom:10px;
		float:none;
	}
	.clear-responsive{
		margin:0;
	}

}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
	.portfolio-one .portfolio-item {
		width:300px;
	}
	.full .gallery_zoom {
		width:300px;
		height:201px;
	}
	.full .image_show {
		width:300px;
		height:201px;
	}
	.full .image_show img {
		width:300px;
		height:auto;
	}

}