
#menu_content_content_tfbutton_menu{
	z-index:1 !important;
	width:324px !important;
}

#menu_content_content_tfbutton_menu_co,#menu_content_content_tfbutton_menu_tbl{
	background-image:url(../tinymce/sep.png);
	background-repeat:repeat-y;
	background-position:center center;
	width:324px !important;
}
.mce-menu .mce-menu-item.mce-selected, .mce-menu .mce-menu-item:focus, .mce-menu .mce-menu-item:hover {
	background-color:#e2e2e2 !important;
}

#menu_content_content_tfbutton_menu .mceMenuItem{
	display:inline-block;
	float:left;
}

#menu_content_content_tfbutton_menu .mceMenuItem a{
	width:162px;
	height:30px;
	line-height:30px;
	padding:0;
}

#menu_content_content_tfbutton_menu .mceMenuItemDisabled{
	width:100%;
	display:block;
	float:none;
}

#menu_content_content_tfbutton_menu .mceMenuItemDisabled a{
	width:324px;
}

#menu_content_content_tfbutton_menu .mceMenuItemDisabled .mceText{
	padding:0;
	padding-left:10px;
}

#menu_content_content_tfbutton_menu .mceText{
	padding-left:48px;
}

#menu_content_content_tfbutton_menu .mceIcon{
	background-image:none;
	background-position:center center;
	background-repeat:no-repeat;
	width:50px;
	height:30px;
}

.mce-i-nimva_sh{
	background-image:url(../tinymce/tfbutton-nimva.png) !important;
}

.mce_youtube{
	background-image:url(../tinymce/youtube.png) !important;
}

.mce_vimeo{
	background-image:url(../tinymce/vimeo.png) !important;
}

.mce_dailym{
	background-image:url(../tinymce/dailymotion.png) !important;
}

.mce_button-minimal{
	background-image:url(../tinymce/button-minimal.png) !important;
}

.mce_button-bootstrap{
	background-image:url(../tinymce/button-bootstrap.png) !important;
}
.mce_button-colored{
	background-image:url(../tinymce/button-colored.png) !important;
}

.mce-i-dropcap{
	background-image:url(../tinymce/dropcap.png) !important;
}

.mce-i-highlight{
	background-image:url(../tinymce/highlight.png) !important;
}

.mce-i-checklist{
	background-image:url(../tinymce/checklist.png) !important;
}

.mce_tabs{
	background-image:url(../tinymce/tabs.png) !important;
}

.mce_toggle{
	background-image:url(../tinymce/toggle.png) !important;
}
.mce_hr{
	background-image:url(../tinymce/hr.png) !important;
}

.mce_slider{
	background-image:url(../tinymce/slider.png) !important;
}

.mce_clients{
	background-image:url(../tinymce/clients.png) !important;
}

.mce_testimonials{
	background-image:url(../tinymce/testimonial.png) !important;
}

.mce_progress-bar{
	background-image:url(../tinymce/progress.png) !important;
}
.mce_person{
	background-image:url(../tinymce/person.png) !important;
}
.mce_alert{
	background-image:url(../tinymce/alert.png) !important;
}
.mce_infobox{
	background-image:url(../tinymce/infobox.png) !important;
}
.mce_product-feature{
	background-image:url(../tinymce/product-feature.png) !important;
}
.mce_featured-services{
	background-image:url(../tinymce/featured-servics.png) !important;
}

.mce_pricing-table{
	background-image:url(../tinymce/pricing.png) !important;
}
.mce_recent-works{
	background-image:url(../tinymce/recent-works.png) !important;
}
.mce_recent-posts{
	background-image:url(../tinymce/recent-posts.png) !important;
}
.mce_tagline-box{
	background-image:url(../tinymce/tagline-box.png) !important;
}

.mce-i-tooltip{
	background-image:url(../tinymce/tooltip.png) !important;
}

.mce-i-fontawesome{
	background-image:url(../tinymce/fontawesome.png) !important;
}

.mce_cool-title{
	background-image:url(../tinymce/cool-title.png) !important;
}

.mce_social-links{
	background-image:url(../tinymce/social-links.png) !important;
}

.mce_lightbox{
	background-image:url(../tinymce/lightbox.png) !important;
}

.mce_full-column{
	background-image:url(../tinymce/1-col.png) !important;
}

.mce_half-column{
	background-image:url(../tinymce/12-col.png) !important;
}

.mce_one-third-column{
	background-image:url(../tinymce/13-col.png) !important;
}

.mce_two-third-column{
	background-image:url(../tinymce/23-col.png) !important;
}

.mce_one-fourth-column{
	background-image:url(../tinymce/14-col.png) !important;
}

.mce_three-fourth-column{
	background-image:url(../tinymce/34-col.png) !important;
}

.mce_one-fifth-column{
	background-image:url(../tinymce/15-col.png) !important;
}

.mce_two-fifth-column{
	background-image:url(../tinymce/25-col.png) !important;
}

.mce_three-fifth-column{
	background-image:url(../tinymce/35-col.png) !important;
}

.mce_four-fifth-column{
	background-image:url(../tinymce/45-col.png) !important;
}

/*
.mce_avada_half{
	background-image:url(../tinymce/half.png) !important;
}

.mce_avada_third{
	background-image:url(../tinymce/one_third.png) !important;
}

.mce_avada_two_third{
	background-image:url(../tinymce/two_third.png) !important;
}

.mce_avada_fourth{
	background-image:url(../tinymce/one_fourth.png) !important;
}

.mce_avada_three_fourth{
	background-image:url(../tinymce/three_fourth.png) !important;
}

.mce_avada_slider{
	background-image:url(../tinymce/slider.png) !important;
}

.mce_avada_testimonial{
	background-image:url(../tinymce/testimonials.png) !important;
}

.mce_avada_social_links{
	background-image:url(../tinymce/social_links.png) !important;
}

.mce_avada_client_slider{
	background-image:url(../tinymce/clients_slider.png) !important;
}

.mce_avada_title{
	background-image:url(../tinymce/title.png) !important;
}

.mce_avada_separator{
	background-image:url(../tinymce/spacer.png) !important;
}

.mce_avada_lightbox{
	background-image:url(../tinymce/lightbox.png) !important;
}

.mce_avada_progress_bar{
	background-image:url(../tinymce/progress_bar.png) !important;
}

.mce_avada_person{
	background-image:url(../tinymce/person.png) !important;
}

.mce_avada_alert{
	background-image:url(../tinymce/alert.png) !important;
}

.mce_avada_pricing_table{
	background-image:url(../tinymce/pricing.png) !important;
}

.mce_avada_recent_works{
	background-image:url(../tinymce/recent_works.png) !important;
}

.mce_avada_tagline{
	background-image:url(../tinymce/tagline.png) !important;
}

.mce_avada_content_boxes{
	background-image:url(../tinymce/content_boxes.png) !important;
}

.mce_avada_recent_posts{
	background-image:url(../tinymce/recent_news.png) !important;
}

.mce_avada_fontawesome{
	background-image:url(../tinymce/fontawesome.png) !important;
}

.mce_avada_tooltip{
	background-image:url(../tinymce/tooltip.png) !important;
}

.mce_avada_full{
	background-image:url(../tinymce/fullwidth.png) !important;
}

.mce_avada_map{
	background-image:url(../tinymce/googlemap.png) !important;
}

.mce_avada_counters_circle{
	background-image:url(../tinymce/countercircle.png) !important;
}

.mce_avada_counters_box{
	background-image:url(../tinymce/counterbox.png) !important;
}

.mce_avada_flexslider{
	background-image:url(../tinymce/flexslider.png) !important;
}

.mce_avada_blog{
	background-image:url(../tinymce/blog.png) !important;
}

.mce_avada_img_frames{
	background-image:url(../tinymce/imageframes.png) !important;
}

.mce_avada_img_carousel{
	background-image:url(../tinymce/imagecarousel.png) !important;
}

.mce_avada_sharing_box{
	background-image:url(../tinymce/socialshare.png) !important;
}

.mce_avada_table{
	background-image:url(../tinymce/table.png) !important;
}
*/