/* Jhonny's Added CSS */

/*


TODO: HomePage redesign
TODO: Check Roee email for further instructions.

*/
/*
// =======================================================
// ================= ContactUs Page  =====================
// =======================================================
*/

.rtl .form-name-col {
  margin-right: 0;
}

/* contact page */
body .contacts_wrapper {
  color: #333 !important;
}
.wpcf7 {
  color: #333;
}
.rtl .form-he-name-col {

  margin-right: 0 !important;
  float: right !important;
}
.rtl .wrap-he-nameemail {
  overflow: auto;

}

.rtl .form-he-email-col {
  display: block;
  position: relative;
  margin-right: 4% !important;
  margin-bottom: 30px;
  clear: none;
  float: left !important;

}

.contacts_wrapper.wpb_column.column_container .fa-phone {
  color: #fff !important;
}
.column_container .wpb_wrapper .product-feature.toleft .fa-phone {
  color: #fff !important;
}
  /*
  // =======================================================
  // =================== Clients Page  =====================
  // =======================================================
  */
.client-page-wrapper {
  margin-top: 40px;
}
.client-item {
  position: relative;
  margin-bottom: 20px;
  box-shadow: 1px 1px 8px 0 rgba(0,0,0,0.15);
  overflow: hidden; 
}
.client-item .title {
  padding: 10px 20px 10px;
  color: #333;
  font-weight: bold;

}
.client-item .link {
  text-decoration: underline;
  color: #F96E5B;
  font-weight: bold;
}

.client-item .overlay {
  opacity: 0;
  position: absolute;
  text-align: center;
  padding-top: 20px;
  background: #fff;
  width: 100%;
  min-height: 230px;
  transition: all .4s ease-in-out;
}
.client-item:hover .overlay {
  opacity: 1;
}

.client-item img {
  width: 100%;
}

@media (max-width: 767px) {
  .client-item .title {
    font-size: 16px;
    padding: 20px 20px;
  }
  .client-item .link {
    font-size: 16px;
  }

}


/*
// =======================================================
// =================== Page About ========================
// =======================================================
*/
.team-member {
  margin: 40px 0 0 5px !important;
  width: auto !important;
}
.team-member .team-image {
  width: 69%;
  margin: 0 auto;
  box-shadow: 1px 1px 14px 0px rgba(0,0,0,0.35);
}

.team-member .team-image {
  width: 85%;
  max-height: 178px;
  margin: 0 auto;
  box-shadow: 1px 1px 14px 0px rgba(0, 0, 0, 0.35);
}


.team-desc h4 {
  font-size: 18px;
  text-align: center;
  font-weight: bold;
}
.team-desc {
  font-size: 13px;
  color: #333;
  line-height: 23px;
}

.team-member.team-member-first-line .team-desc {
  min-height: 360px;
}

.team-member .team-skills {
  min-height: 52px;
}
#page-title h1 {
  color: #333 !important;
  font-weight: bold;
}

@media (max-width: 979px) {
  .team-member.team-member-first-line .team-desc {
    min-height: 320px;
  }
}
@media (max-width: 768px) {
  .team-member.team-member-first-line .team-desc {
    min-height: 0px;
  }
}
/*
// =======================================================
// ==== Slick slider + About slider specific =============
// =======================================================
*/


.slick-office-wrap {
  max-width: 1100px;
  margin: 40px auto 0 auto;
  /* the slides */
  /* the parent */ }
.slick-office-wrap .slick-slide {
  margin-left: 13px; }
.slick-office-wrap .slick-list {
  margin-left: -15px; }
.slick-office-wrap .slick-prev {
  left: -40px; }
.slick-office-wrap .slick-next {
  right: -40px; }
.slick-office-wrap .slick-slide {
  max-height: 120px; }

.slick-clients-wrap {
  max-width: 1100px;
  margin: 30px auto 20px auto;
  /* the slides */
  /* the parent */ }
.slick-clients-wrap .slick-slide {
  margin-left: 15px; }
.slick-clients-wrap .slick-list {
  margin-left: -15px; }
.slick-clients-wrap .slick-prev {
  left: -40px; }
.slick-clients-wrap .slick-next {
  right: -40px; }
.slick-clients-wrap .slick-slide {
  padding: 10px;
  background: #fff;
  border: 2px solid rgba(0, 0, 0, 0.1);
  transition: all .2s ease-in-out; }

.lightcase-content {
  background-color: #C2C9C9; }

@media (max-width: 1199px) {
  .slick-office-wrap {
    max-width: 80%; }
  .slick-office-wrap .slick-slide {
    max-height: 125px; }
  .slick-clients-wrap {
    max-width: 80%; } }

@media (max-width: 991px) {
  .slick-office-wrap .slick-slide {
    max-height: 110px; } }

@media (max-width: 767px) {
  .slick-office-wrap {
    max-width: 80%;
    margin-top: 20px;
    /* the parent */ }
  .slick-office-wrap .slick-slide {
    max-height: 105px; }
  .slick-office-wrap .slick-slide {
    margin-left: 10px; }
  .slick-office-wrap .slick-list {
    margin-left: -10px; }
  .slick-clients-wrap {
    max-width: 70%; } }


.slick-office-wrap {
  margin-bottom: 15px;
}

.slick-dots li button:before {
  font-size: 11px;
}

.about-sep-slider {
  margin-bottom: 25px;
  border-top-color: #fff;
}

.rtl .slick-office-wrap .slick-prev {
  left: auto;
}

.slick-office-wrap .slick-prev:before, .slick-office-wrap .slick-next:before {
  color: #333;
}

/*
// =======================================================
// ======= Menu header and mobile menu ===================
// =======================================================
*/


nav .menu-item-type-post_type a:after {
  border-left: 2px solid #000 !important;
}
nav .menu-item-type-post_type a:before {
  border-color: #333 !important;
}
nav .menu-item-type-post_type a:after,
nav .menu-item-type-post_type a,
nav .menu-item-type-post_type a:hover,
nav .menu-item-type-post_type a:before {
  transition: all 0.3s  !important;
}

nav .menu-item-type-post_type a {
  text-decoration: none;
  color: #333 !important;
  font-weight: 700 !important;
  text-transform: uppercase;
}

nav .menu-item-language a {
  text-decoration: none;
  color: #333 !important;
  font-weight: 700 !important;
  text-transform: uppercase;
}

nav .current-menu-item a:after {
  /*border-color: #fff !important;*/
}
.name_en {
  font-size: 23px !important;
  position: relative;
  font-weight: bold;
  left: -127px;
  top: -1px;
  word-spacing: 6px;
}

.name_he {
  position: relative;
  font-size: 23px !important;
  font-weight: bold;
  top: -2px;
  right: -50px;
}

#header.sticky  {
  -webkit-box-shadow: 2px 1px 10px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.35);
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.35);
}
#header.sticky .name_en {
  top: 10px;
}
#header.sticky .name_he {
  top: 5px;
}
@media only screen and (max-width: 1200px) and (min-width: 979px) {
  #header .container {
    width: 950px;
  }
}

@media only screen and (max-width: 1200px) {
  .name_en {
    top: -10px;
    font-size: 16px !important;
    left: -40px;
  }

}

@media only screen and (max-width: 1060px) {
  #header nav > ul > li > a {
    padding: 5px;
  }
  .name_he {
    font-size: 20px !important;
    right: 0;
  }
  .name_en {
    top: -15px;
    font-size: 14px !important;
    left: -20px;
  }
}

@media only screen and (max-width: 979px) {
  #header #toggle-nav {
    top: 26px;
    margin-top: 20px !important;
  }
  #header #toggle-nav i {
    font-size: 20px;
    position: relative;
    top: 1px;
    /*margin-left: 10px;*/
    /*margin-right: 10px;*/
  }
  .rtl #header #toggle-nav i {
    margin-left: 10px;
  }
  #header #toggle-nav span {
    font-size: 18px !important;
  }

  .raz_brand_name {
    width: 100%;
    margin-bottom: 52px;
  }
  .name_en {
    position: static;
    font-size: 14px !important;
    text-align: center !important;
  }
  .name_he {
    position: static;
    text-align: center !important;
  }
  #mobile-menu {
    background-color: #fff;
    color: #333;
    /*border-bottom: 2px solid #333;*/
  }
  #mobile-menu ul li a, #mobile-menu .container > ul > li:last-child ul li a {
    color: #333;
    font-weight: bold;
    padding: 10px 0 !important;
    font-size: 16px !important;
  }
  #mobile-menu .menu-item-language {
    display: inline-block;
    text-align: center ;
    width: 50%;

  }

  #mobile-menu .menu-item-language a {
    color: #5B4863;
    border-bottom: 0px solid #fff !important;
  }
  #mobile-menu .container > ul > li:last-child {
    padding-bottom: 0;
  }
  #mobile-menu ul li a:hover, #mobile-menu ul li a:hover [class^="fa-"], #mobile-menu li.open > a, #mobile-menu ul li.current-menu-item > a, #mobile-menu ul li.current-menu-ancestor > a {
    color: #F96E5B;
  }
  #mobile-menu ul li a, #mobile-menu .container > ul > li:last-child ul li a {
    border-bottom: 1px solid #f1f1f1;
  }

}


@media only screen and (max-width: 979px) {
  #header .container {
    text-align: right;
  }
  .raz_brand_name {
    float: right;
  }
  .name_he {
    text-align: right;
    position: absolute;
    display: inline-block;
    font-size: 24px !important;
    right: 60px;
    /*top: 12px;*/
    padding-top: 22px;
  }
  .name_en {
    float: left;
    position: static;
    padding-top: 22px;
    /*top: -15px;*/
    font-size: 24px !important;
    left: -20px;
  }
  .page-template-page-clients .name_he,
  .page-template-page-about .name_he,
  .home .name_he {
    padding-top: 12px;
  }

  .page-template-page-clients .name_en,
  .page-template-page-about .name_en,
  .home .name_en {
    padding-top: 12px;
  }

  #header {
    margin-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
  }
  #header #toggle-nav {
    display: inline-block !important;
    position: static;
    margin-top: 10px !important;
    margin-bottom: 5px; !important;
    color: #333;
    text-decoration: none;
    border: 2px solid #333;
    border-radius: 5px;
    padding: 0px 12px 3px !important;
  }
  .rtl #header #toggle-nav i {
    margin: 0;
  }
  #header #toggle-nav:hover {
  }
  #header #toggle-nav:hover i {
    color: #F96E5B;
  }

  #header #toggle-nav .fa-bars {
    /*display: none;*/
  }
  #header #toggle-nav span {
    margin: 0 10px;
    opacity: 0;
    display: none;

  }
  .raz_brand_name {
    top: 0 !important;
  }
}

@media only screen and (max-width: 479px) {
  #header #toggle-nav {
    /*margin-right: 10px;*/
  }

  .name_he {
    right: 70px;
  }
}

/*
// =======================================================
// =================== Portfolio =========================
// =======================================================
*/
.page-template-portfolio-four-column #portfolio-filter li a,
html[lang="he-IL"] .page-template-portfolio-four-column #portfolio-filter li a {
  font-size: 14px !important;
  color: #333;
  text-decoration: none !important;
}
.page-template-portfolio-four-column #portfolio-filter li a:hover,
.page-template-portfolio-four-column #portfolio-filter li.activeFilter a,
html[lang="he-IL"] .page-template-portfolio-four-column #portfolio-filter li a:hover,
html[lang="he-IL"] .page-template-portfolio-four-column #portfolio-filter li.activeFilter a
{
  text-decoration: none !important;
  color: #F96E5B;
  /*padding: 0 9px !important;*/
}


@media only screen and (max-width: 979px) and (min-width: 768px) {
  #portfolio-filter li {
    padding: 5px 0;
    min-height: 30px;
    width: 49%;
    /*background: red !important;*/
    text-align: center;
    /*border-bottom: 1px solid #eee;*/
    border: none;
  }
  .portfolio-item {
    width: 31%;
  }
  .portfolio-item .portfolio-image, .portfolio-item .portfolio-image img {
    width: 100%;
    height: auto;
  }
  }

.page-template-portfolio-four-column #portfolio-filter li.activeFilter:after {
  content: none;
}
#portfolio-filter > li {
  padding-bottom: 2px !important;
}

@media only screen and (max-width: 768px) {
  #content {
    padding-left: 15px;
    padding-right: 15px;
  }
  .home #content {
    padding: 0;
  }
  /*#portfolio {*/
    /*padding: 10px !important;*/
    /*margin: 0!important;*/
  /*}*/
  /*#portfolio-filter li {*/
    /*padding: 10px 0px;*/
  /*}*/
}

@media only screen and (max-width: 479px) {
  #portfolio {
    padding-right: 10px !important;
    margin: 0 !important;
    margin-right: 10px !important;
  }

  .portfolio-item {
    position: static !important;
    transform: none !important;
    padding: 10px !important;
    margin: 0 auto !important;
    width: 100%;
  }

  .portfolio-item .portfolio-image, .portfolio-item .portfolio-image img {
    width: 100% !important;

    height: auto;
  }

}
/* fix mobile issues with portfolio filtering */
.portfolio-item.isotope-hidden {
  display: none;
}

/* fix portfolio in action bug */

.page-template-portfolio-four-column .projects-in-action_he {
  float: left !important;
  position: absolute !important;
  transform: inherit !important;
}




/*
// =======================================================
// ============= Portfolio  - Single Page ================
// =======================================================
*/

.rtl.creativo_portfolio-template-default {
  text-align: right;
  direction: rtl;
}


.flexslider {
  direction: ltr;
}


.rtl #header nav > ul li a {
  margin-left: 10px !important;
}
@media only screen and (max-width: 979px) {
  .single-creativo_portfolio .flex-viewport {
    margin-bottom: 10px;
  }
  .single-creativo_portfolio .flex-viewport .slide {
    height: auto !important;
  }
  #portfolio-single-wrap .slide {
    height: auto !important;
  }
}

.rtl #portfolio-details-wrap .port-terms h5 {
  float: right;
}

#portfolio-details-wrap {
  margin-top: 10px !important;
}

.single-creativo_portfolio .flexslider .flex-prev i,
.single-creativo_portfolio .flexslider .flex-next i {
  border-color: #696868;
}
.single-creativo_portfolio .flexslider .flex-prev:hover i,
.single-creativo_portfolio .flexslider .flex-next:hover i{
  border-color: #333;
}


/*
// =======================================================
// ============= HomePage ================================
// =======================================================
*/


.home .slider-wrap {
  direction: ltr;
  height:auto !important;
}

.rtl.home .slider-wrap {
  direction: ltr;
  height:auto;
}
.rtl.home #slick-homepage {
  direction: ltr;
}


.home .slick-homepage-wrap {
  margin-top: 0;
  max-width: 100%;
  overflow: hidden;
}

.home .slick-homepage-wrap img {
  width: 100%;
}
.home .slick-homepage-wrap .slick-slide {
  height: auto;
  max-height: 10vh !important;
  /*max-height: 99999px;*/

}
.home .slider-wrap .slider-overlay {
  position: absolute;
  width: 100%;
  height: 9000px;
  background: rgba(0,0,0,0.3);
  z-index: 9999;
}
.home .slider-wrap .overlay-text-wrap {
  position: absolute;
  z-index: 99999;
  width: 100%;
  top: 30%
}
.home .slider-wrap .overlay-text-wrap h1{
  font-size: 100px;
  color: rgba(255,255,255, 0.8);
}
.home .slider-wrap .overlay-text {
  position: relative;
  width: 100%;
  text-align: center;
}
.home .slider-wrap .slides li {
  max-height: 95vh;
}





/* flex slider replacement */
#slider {
  height: auto;
  border: none;
  margin-bottom:0 !important;
  padding-bottom:0;
}
.flex-prev {
  left: 28px;
  right: auto;
  color: #fff;
}

.flex-direction-nav a:before {
  color: #fff;
  font-size: 35px;
  text-shadow: 1px 1px #333;
}


/* home main section */
.home-main-section h1 {
  display: inline-block;
  font-size: 28px;
  font-weight: bold;
  border-left: 3px solid #333;
  border-top: 3px solid #333;
  padding: 10px;
  margin-bottom: 20px;

}
.home-main-section .content {
  font-size: 18px;
  color: #333;
  line-height: 30px;
}

.rtl .home-main-section h1 {
  border-left: none;
  border-right: 3px solid #333;
  direction: rtl;
  padding-top: 5px;
}

.rtl .home-main-section .content {
  padding-right: 10px;
  text-align: right;
  direction: rtl;
  font-size: 16px;
  line-height: 26px;
}
@media only screen and (max-width: 768px) {
  .home-main-section h1 {
    font-size: 22px;
  }

  .home-main-section .content {
    font-size: 14px;
    line-height: 24px;
  }
  .rtl .home-main-section .content {
    font-size: 14px;
    line-height: 24px;
  }
}




/*
// =======================================================
// ============= Footer ==================================
// =======================================================
*/


footer.footer {
  border-top: 2px solid #f3f3f3;
}

/*
// =======================================================
// ============= General =================================
// =======================================================
*/

@media only screen and (max-width: 479px) {
  #wrapper {
    width: 100% !important;
    margin: 0 auto;
  }

  .container {
    width: 100%;
  }
}

@media (min-width: 768px) {
  /* Bootstrap hebrew align right fix ( about page and clients.)*/
  .rtl.page-template-page-about .col-sm-6,
  .rtl.page-template-page-about .col-md-4
  {
    float: right;
  }

  .rtl.page-template-page-clients .col-sm-4,
  .rtl.page-template-page-clients .col-md-3 {
    float: right;
  }


}
