/* -----------------------------------------------------------------------
    Responsive
-------------------------------------------------------------------------- */


@media only screen and (max-width: 979px) {


body { 
    transition: all .2s linear; 
    -o-transition: all .2s linear; 
    -moz-transition: all .2s linear; 
    -webkit-transition: all .2s linear;
}

.realwidth {
	width:440px !important; 
}

#wrapper { overflow: hidden; }

#primary-menu {    
    max-width: 100%;
	width:100%;
}
#header nav {
	visibility:hidden;
}
#primary-menu ul { display: none; }

#header #toggle-nav { display: block!important; position: relative; top: 0; text-align:center; margin: 0 auto 30px auto; }

#menu-wrapper { border: none !important;	}

#logo { float: none; text-align:center; margin-left: auto; margin-right:auto; }
.tagline { margin: 0 !important; text-align:center !important; float: none !important; }

a > .sf-sub-indicator { 
		right: 0px!important;
		position: absolute;
		padding: 16px;
		left: auto!important;
  	    top: 0px!important; 
		height: auto;
		width: 30%;
		text-align:right;
  	}

div.responsive-menu, 
div.responsive-menu span {
    background: url("../images/responsive-menu.png");
    -webkit-font-smoothing: antialiased;
}
.f-nav, .f-nav2{ z-index: auto !important; position: relative !important; width: auto !important; top:auto !important;} 

body.sticky{
	margin-top:0px !important;
}
#header.sticky{
	position:relative !important;
}
body #header.sticky-header, body #header.sticky-header.sticky {
	display: none !important;
}
.rs-menu, 
.rs-menu * {
    margin: 0;
    padding: 0;
}

.rs-menu {
    display: -moz-inline-box;
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
    *display: inline;
}

div.rs-menu {
    display: block;
    position: relative;
    overflow: hidden;
    font-family: "Open Sans" ,"Helvetica Neue", Helvetica, Arial, sans-serif;
    background-position: left;
    line-height: 40px;
    height: 42px;
    margin: 39px 0 0 0;
    font-size: 13px;
}

div.rs-menu select {
    color: #666;
    background-color: #EEE;
    border-color: #E5E5E5;
    height: 42px;
    font-size: 13px;
    width: 100%;
    top: 0px;
    left: 0px;
    position: absolute;
    opacity: 0;
    filter: alpha(opacity:0);
}

div.rs-menu span {
    display: block;
    position: relative;
    background-position: left;
    background-color: #EEE;
    background-image: url("../images/mobilemenu.png");
    background-repeat: no-repeat;
    border: 1px solid #E5E5E5;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    color: #666;
    padding: 0 15px 0 55px;
    font-weight: 600;
    text-shadow: 1px 1px 1px #FFF;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}


.select-menu {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 25px;
    font-size: 13px;
}


#top-bar {
    text-align: center;
    height: auto;
}
.leftalign, .rightalign {
	float:none;
}

#top-menu {
    text-align: center;
    float: none;
    margin: 0 auto;
}

#top-menu li {
    display: inline-block;
    float: none;
}

#top-social {
    float: none;
    margin: 0 auto;
    text-align: center;
	margin-bottom:15px;
}

#top-social ul {
    display: inline-block;
    float: none;
    margin: 0 auto;
    text-align: center;
}

#top-social li { display: inline-block; float:none; }


#slider { overflow: hidden; }

#slider.elastic-slideshow { overflow: visible; }

.kwicks,
.slider-3d,
#piecemaker { display: none; }

.fallback-image,
.fallback-image a,
.fallback-image img { display: block; }

.stretched #slider.thumb-slider .flex-control-thumbs,
.stretched #slider.thumb-slider .rs-thumb-wrap { background: #FFF; }

.sidebar.col_last,
.postcontent.col_last { float: none; }

.sidebar {
    margin-top: 40px !important;
    padding-top: 40px;
    border-top: 3px double #E5E5E5;
}


#footer { padding: 40px 20px; }

#gotoTop {
    display: none !important;
    visibility: hidden !important;
}


.stretched #header,
.stretched .content-wrap {
    box-shadow: 0 0 0 rgba(0,0,0,0.1);
    -moz-box-shadow: 0 0 0 rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 0 0 rgba(0,0,0,0.1);
}


.stretched #slider { padding: 0; }

.stretched #slider .container { width: 100% !important; }

.stretched .slider-line { display: block; }

.stretched #page-title { padding: 5px 0; }

.stretched #copyrights { margin-bottom: 0; }

#top-menus ul {
	text-align:center;
}
#top-menus li{
	float:none;
	display:inline-block;
}

.tab_widget ul.tabs {
	height:auto;
}
.tab_widget ul.tabs li {
	float: none;
	border-left-width:1px;
	border-bottom: none;
	border-left: 1px solid #e6e6e6;
	margin-left:0px;	
}
.tab_widget ul.tabs li.active, .tab_widget ul.tabs li.active a:hover {
	border-bottom: none;
}

.show_details_button, .add_to_cart_button {
	float: none;
	display: block;
}

.product_meta_inside, .product_share {
	float: none;
	width: 100%;
}

.product_share {
	margin-left:-15px;
	margin-top:10px;
}

.side-tabs ul.tabs {
	float:none;
	width:auto;
}
.side-tabs ul.tabs li {
	border: 1px solid transparent;
	border-bottom: none;
}
.side-tabs ul.tabs {
	padding: 0;
}

}



/* Tablet Portrait size to Tablet Landscape (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 979px) {

#wrapper {
    width: 768px !important;
    margin: 0 auto;
}

.container { width: 720px; }
.vc-vc_row_inner .container, .wpb_row .wpb_row .container  { width: auto; }
.postcontent { width: 720px; }
.landing-offer-media { width: 460px; }
.sidebar { width: 720px; }
.landing-offer-text { width: 230px; }

#landing-area { padding: 25px 0; }

#landing-area h1 {
    font-size: 21px;
    line-height: 28px;
    padding-bottom: 15px;
}

#landing-area p.landing-desc {
    font-size: 12px;
    margin-bottom: 15px;
}

#landing-area ul.landing-features {
    font-size: 13px;
    line-height: 18px;
}

ul.landing-features li { margin-top: 4px; }

ul.landing-features li:first-child { margin-top: 0; }

.landing-action { margin-top: 15px; }

.postcontent,
.sidebar {
	margin: 0 0 30px 0;
	float: none;
}

.landing-offer-media,
.landing-offer-text {  }

#primary-menu,
#lp-contacts { max-width: 460px; }

#primary-menu ul { display: none; }

#primary-menu .rs-menu { width: 460px; }

#slider,
.slider-wrap,
.ei-slider,
.rs-slider,
#slider.slider-nivo,
.nivoSlider,
.camera_wrap,
#slider.piecemaker-slider { height: 282px; }

#slider.revolution-slider .fullwidthbanner-container,
#slider.revolution-slider .fullwidthbanner {
    height: 282px !important;
    max-height: 282px !important;
}

#slider.thumb-slider { height: auto; }

#slider.thumb-slider .flex-control-thumbs,
#slider.thumb-slider .rs-thumb-wrap { height: 40px; }

.flex-control-thumbs li,
.rs-thumb-wrap a {
    width: 76px !important;
    height: 40px !important;
}

.rs-thumb-wrap a {
    height: 37px !important;
    border-top: 3px solid #CCC;
}

.flex-control-thumbs li img,
.rs-thumb-wrap a img {
    width: 76px !important;
    height: 37px !important;
}

.rs-thumb-wrap a img { border: none; }

#portfolio { margin: 0 -8px -8px 0; }

.portfolio-item {
    margin: 0 8px 8px 0;
    width: 174px;
}
.keep-size {
	width:231px;
}

.portfolio-item .portfolio-image,
.portfolio-item .portfolio-image a,
.portfolio-item .portfolio-image img {
    width: 174px;
    height: 118px;
}

#portfolio-shortcode .portfolio-item .portfolio-image,
#portfolio-shortcode .portfolio-item .portfolio-image a,
#portfolio-shortcode .portfolio-item .portfolio-image img {
    width: 231px;
    height: 180px;
}
/*
.portfolio-overlay-inside span {
	top:31%;
	left:37%;
}
*/
#portfolio.portfolio-3 { margin: 0 -13px -13px 0; }

.portfolio-3 .portfolio-item {
    margin: 0 13px 13px 0;
    width: 231px;
}

.portfolio-3 .portfolio-item .portfolio-image,
.portfolio-3 .portfolio-item .portfolio-image a,
.portfolio-3 .portfolio-item .portfolio-image img {
    width: 231px;
    height: 156px;
}

.portfolio-2 .portfolio-item { width: 350px; }

.portfolio-2 .portfolio-item .portfolio-image,
.portfolio-2 .portfolio-item .portfolio-image a,
.portfolio-2 .portfolio-item .portfolio-image img {
    width: 350px;
    height: 238px;
}

.portfolio-5 .portfolio-item { width: 140px; }

.portfolio-5 .portfolio-item .portfolio-image,
.portfolio-5 .portfolio-item .portfolio-image a,
.portfolio-5 .portfolio-item .portfolio-image img {
    width: 140px;
    height: auto;
}

.portfolio-title h3 { font-size: 13px; }

#portfolio .slider-wrap { height: 136px; }

#portfolio.portfolio-3 .slider-wrap { height: 156px; }

#portfolio.portfolio-2 .slider-wrap { height: 223px; }

.portfolio-overlay-wrap { display: none; }

.portfolio-3 .portfolio-overlay-wrap,
.portfolio-2 .portfolio-overlay-wrap,
.scroll-portfolio .portfolio-overlay-wrap { display: block; }

#portfolio .p-overlay-icons {
    top: 50%;
    margin-top: -14px;
    width: 58px;
    left: 50%;
    margin-left: -29px;
}

#portfolio.portfolio-3 .p-overlay-icons,
#portfolio.portfolio-2 .p-overlay-icons,
#portfolio.scroll-portfolio .p-overlay-icons {
    position: absolute;
    top: auto;
    left: auto;
    bottom: 0;
    right: 0;
    width: auto;
    height: 28px;
    margin-top: 0;
    margin-left: 0;
}

#portfolio-single-wrap #slider,
#portfolio-single-wrap.portfolio-single-full .port-desc,
#portfolio-single-wrap.portfolio-single-full.portfolio-single-full-left .port-desc { width: 500px; }

.postcontent #portfolio-single-wrap .port-desc { width: 440px; }

#portfolio-single-wrap.portfolio-single-full #slider { width: 720px; }

#portfolio-details-wrap {
    width: 200px;
    margin-left: 20px;
}
#portfolio-single-wrap.portfolio-single-left #portfolio-details-wrap {
	width:200px;
	margin-right:20px;
}

#portfolio-single-wrap.portfolio-single-full .port-details,
#portfolio-single-wrap.portfolio-single-full.portfolio-single-full-left .port-details {
    width: 200px;
    margin: 0 20px 0 0;
}

#portfolio-single-wrap.portfolio-single-full.portfolio-single-full-left .port-details,
.postcontent #portfolio-single-wrap.portfolio-single-left .port-details { margin: 0 0 0 20px; }

#portfolio-details-wrap .port-terms h5 { width: 100px; }

#portfolio-related-items li,
#portfolio-related-items li > a,
#portfolio-related-items li > img {
    width: 176px !important;
    height: 137px;
}

.scroll-portfolio .portfolio-item { width: 231px !important; margin:0 12px 12px 0; }

#portfolio-shortcode.scroll-portfolio .portfolio-item .portfolio-image,
#portfolio-shortcode.scroll-portfolio .portfolio-item .portfolio-image > a,
#portfolio-shortcode.scroll-portfolio .portfolio-item .portfolio-image > a > img,
#portfolio-shortcode.scroll-portfolio .portfolio-item .portfolio-image img {	
    width: 231px !important;
    height: 158px;
}

.vc_span2 .scroll-portfolio .portfolio-item {
	width: 93px !important;
}

.vc_span3 .scroll-portfolio .portfolio-item {
	width: 155px !important;
}

.vc_span4 .scroll-portfolio .portfolio-item {
	width: 216px !important;
}

.vc_span6 .scroll-portfolio .portfolio-item {
	width: 163px !important;
}

.vc_span8 .scroll-portfolio .portfolio-item {
	width: 225px !important;
}

.vc_span9 .scroll-portfolio .portfolio-item {
	width: 256px !important;
}

.vc_span10 .scroll-portfolio .portfolio-item {
	width: 187px !important;
}

.vc_span2 #portfolio-shortcode.scroll-portfolio .portfolio-item .portfolio-image,
.vc_span2 #portfolio-shortcode.scroll-portfolio .portfolio-item .portfolio-image a,
.vc_span2 #portfolio-shortcode.scroll-portfolio .portfolio-item .portfolio-image img {
	width: 93px !important;
	height: 63px;
}

.vc_span3 #portfolio-shortcode.scroll-portfolio .portfolio-item .portfolio-image,
.vc_span3 #portfolio-shortcode.scroll-portfolio .portfolio-item .portfolio-image a,
.vc_span3 #portfolio-shortcode.scroll-portfolio .portfolio-item .portfolio-image img {
	width: 155px !important;
	height: 106px;
}

.vc_span4 #portfolio-shortcode.scroll-portfolio .portfolio-item .portfolio-image,
.vc_span4 #portfolio-shortcode.scroll-portfolio .portfolio-item .portfolio-image a,
.vc_span4 #portfolio-shortcode.scroll-portfolio .portfolio-item .portfolio-image img {
	width: 216px !important;
	height: 147px;
}

.vc_span6 #portfolio-shortcode.scroll-portfolio .portfolio-item .portfolio-image,
.vc_span6 #portfolio-shortcode.scroll-portfolio .portfolio-item .portfolio-image a,
.vc_span6 #portfolio-shortcode.scroll-portfolio .portfolio-item .portfolio-image img {
	width:163px !important;
	height: 111px;
}

.vc_span8 #portfolio-shortcode.scroll-portfolio .portfolio-item .portfolio-image,
.vc_span8 #portfolio-shortcode.scroll-portfolio .portfolio-item .portfolio-image a,
.vc_span8 #portfolio-shortcode.scroll-portfolio .portfolio-item .portfolio-image img {
	width: 225px !important;
	height: 158px;
}

.vc_span9 #portfolio-shortcode.scroll-portfolio .portfolio-item .portfolio-image,
.vc_span9 #portfolio-shortcode.scroll-portfolio .portfolio-item .portfolio-image a,
.vc_span9 #portfolio-shortcode.scroll-portfolio .portfolio-item .portfolio-image img {
	width: 256px !important;
	height: 174px;
}

.vc_span10 #portfolio-shortcode.scroll-portfolio .portfolio-item .portfolio-image,
.vc_span10 #portfolio-shortcode.scroll-portfolio .portfolio-item .portfolio-image a,
.vc_span10 #portfolio-shortcode.scroll-portfolio .portfolio-item .portfolio-image img {
	width: 187px !important;
	height: 127px;
}

.col_full .small-posts .entry_date {
    width: 60px;
    margin-right: 10px;
}
/*
.col_full .small-posts .entry_date div.month,
.col_full .small-posts .entry_date div.day {
    font-size: 16px;
    padding: 0 0 12px;
}

.col_full .small-posts .entry_date div.day {
    font-size: 28px;
    padding: 12px 0 0;
}
*/
.col_full .entry_c { width: 628px; }

.col_full .small-posts .entry_c { width: 400px; }

.col_full .small-posts .entry_title h2 {
    font-size: 16px;
    line-height: 20px;
}

.ipost-meta { margin: 10px 0 -3px 0; }

.ipost-meta li {
    float: none;
    margin: 0 0 3px 0;
}

.ipost-meta li span { display: none; }

.promo { padding: 12px 15px; }

.promo h3 {
    font-size: 17px;
    font-weight: 600;
    line-height: 22px;
}

.promo-desc > span {
    font-size: 13px;
    line-height: 20px;
}

.our-clients { margin: 0 -10px 0 0; }

.our-clients li, .our-clients .item { margin: 0 10px 0 0; min-height:70px; }

.our-clients li,
.our-clients li a,
.our-clients li img,
.our-clients .item,
.our-clients .item a,
.our-clients .item img {
    width: 100%;
	max-width:140px;
    /*height: 81px;*/
}

.vc_span2 .our-clients li a, .vc_span2 .our-clients li a img { width: 85px; }
.vc_span3 .our-clients li a, .vc_span3 .our-clients li a img { width: 63px; }
.vc_span4 .our-clients li a, .vc_span4 .our-clients li a img { width: 94px; }
.vc_span6 .our-clients li a, .vc_span6 .our-clients li a img { width: 97px; }
.vc_span8 .our-clients li a, .vc_span8 .our-clients li a img { width: 138px; }
.vc_span9 .our-clients li a, .vc_span9 .our-clients li a img { width: 114px; }
.vc_span10 .our-clients li a, .vc_span10 .our-clients li a img { width: 129px; }

.vc_span2 .our-clients .item a, .vc_span2 .our-clients .item a img { width: 85px; }
.vc_span3 .our-clients .item a, .vc_span3 .our-clients .item a img { width: 63px; }
.vc_span4 .our-clients .item a, .vc_span4 .our-clients .item a img { width: 94px; }
.vc_span6 .our-clients .item a, .vc_span6 .our-clients .item a img { width: 97px; }
.vc_span8 .our-clients .item a, .vc_span8 .our-clients .item a img { width: 138px; }
.vc_span9 .our-clients .item a, .vc_span9 .our-clients .item a img { width: 114px; }
.vc_span10 .our-clients .item a, .vc_span10 .our-clients .item a img { width: 129px; }

.our-team,
.our-team.team-4 { margin: 0 -21px 10px 0; }

.team-member,
.team-4 .team-member {
    margin: 0 21px 21px 0;
    width: 226px;
}

.team-image,
.team-image img {
    width: 226px;
	/*
    height: 188px;
	*/
}

.team-4 .team-image,
.team-4 .team-image img {
    width: 216px;
	/*
    height: 216px;
    */
	border-radius: 108px;
    -moz-border-radius: 108px;
    -webkit-border-radius: 108px;
}

.team-4 .team-image {
    border: 5px solid #EEE;
    text-align: center;
    border-radius: 113px;
    -moz-border-radius: 113px;
    -webkit-border-radius: 113px;
}


.sidebar-widgets-wrap,
.footer-widgets-wrap {
    position: relative;
    margin: 0 -52px -45px -3px;
}

.sidebar-widgets-wrap .widget {
    width: 210px;
	margin: 0 45px 45px 0;
    border-top: none;
    padding-top: 0;
}

.sidebar-widgets-wrap .widget-scroll-prev,
.sidebar-widgets-wrap .widget-scroll-next { top: 0; }

#footer .col_one_fourth {
    width: 210px;
    margin: 0 45px 45px 0;
}

.sidebar-widgets-wrap .widget,
#footer .col_one_fourth {
    display: inline-block;
    vertical-align: top;
    float: none;
}
#portfolio-filter {
	border-bottom:1px solid #eee;
}
#portfolio-filter li {
	padding:15px 0;
	width:20%;
	text-align:center;
	border-bottom: 1px solid #eee;
}



}



@media only screen and (max-width: 767px) {
	#style_selector {
		display: none;
	}
	
.vc_responsive div.vc_row-fluid div[class*="vc_span"] {
    float: none;
    display: block;
    width: auto;
    margin-left: 0;
}

.realwidth {
	 border-top:none !important;
}

.tagline {
	float:none !important;
	text-align:center !important;
	margin-top:0 !important;
	/*margin-bottom:30px;*/
}

#header { height: auto; }

/*
#logo {
    display: block;
    text-align: center;
    float: none;
    max-width: none !important;
    margin-right: 0;
}

#logo a,
#logo a.standard-logo { display: inline-block; }

#header #toggle-nav {
	position: static;
	text-align:center;
	width:auto;
	height:auto;
}
*/
#primary-menu {
    margin: 0 0 30px !important;
    height: auto;
	border-top:none !important;
}

#primary-menu {
    max-width: none;
    float: none;
}

.select-menu { margin: 0; }

.flex-prev,
.flex-next,
.rs-prev,
.rs-next,
.nivo-prevNav,
.nivo-nextNav,
.camera_prev,
.camera_next,
.camera_commands { bottom: 0; }

#slider.thumb-slider .flex-prev,
#slider.thumb-slider .flex-next { bottom: 55px; }

.slide-caption,
.rs-caption,
.nivo-caption,
.camera_caption,
.ei-title,
#page-title h1 span,
#top-search,
#lp-contacts { display: none !important; }


#page-title { text-align: center; }


.postcontent,
.sidebar,
.col_full,
.col_half,
.col_one_third,
.col_two_third,
.col_one_fourth,
.col_three_fourth,
.col_one_fifth,
.col_two_fifth,
.col_three_fifth,
.col_four_fifth,
.col_one_sixth,
.col_five_sixth,
.landing-offer-media,
.landing-offer-text,
.landing-offer-half { width: 100%; }


.postcontent,
.sidebar,
.col_full,
.col_half,
.col_one_third,
.col_two_third,
.col_three_fourth,
.col_one_fourth,
.col_one_fifth,
.col_two_fifth,
.col_three_fifth,
.col_four_fifth,
.col_one_sixth,
.col_five_sixth,
.landing-offer-media,
.landing-offer-text,
.landing-offer-half {
	margin-right: 0;
	float: none;
}

.postcontent,
.sidebar,
.col_full,
.col_half,
.col_one_third,
.col_two_third,
.col_three_fourth,
.col_one_fourth,
.col_one_fifth,
.col_two_fifth,
.col_three_fifth,
.col_four_fifth,
.col_one_sixth,
.col_five_sixth { margin-bottom: 30px !important; }


#respond .col_one_third,
#respond .col_full { margin-bottom: 15px !important; }


.postcontent.col_last,
.sidebar.col_last { margin-bottom: 0 !important; }


#landing-area { padding: 30px 0; }

#landing-area .col_last { margin-top: 30px; }

.landing-offer-text { text-align: center; }

#landing-area h1 {
    font-size: 22px;
    line-height: 28px;
    padding-bottom: 15px;
}

#landing-area p.landing-desc {
    font-size: 13px;
    margin-bottom: 15px;
}

#landing-area ul.landing-features {
    font-size: 15px;
    line-height: 20px;
}

ul.landing-features li { margin-top: 6px; }

ul.landing-features li:first-child { margin-top: 0; }

.landing-action { margin-top: 15px; }


form .col_full,
form .col_half,
form .col_one_third,
form .col_two_third,
form .col_three_fourth,
form .col_one_fourth,
form .col_one_fifth,
form .col_two_fifth,
form .col_three_fifth,
form .col_four_fifth,
form .col_one_sixth,
form .col_five_sixth,
form .col_last,
.ipost .col_full,
.ipost .col_half,
.ipost .col_one_third,
.ipost .col_two_third,
.ipost .col_three_fourth,
.ipost .col_one_fourth,
.ipost .col_one_fifth,
.ipost .col_two_fifth,
.ipost .col_three_fifth,
.ipost .col_four_fifth,
.ipost .col_one_sixth,
.ipost .col_five_sixth,
.ipost .col_last { margin: 0 0 10px 0 !important; }


#countdown-wrap { padding: 30px 0; }

#countdown-wrap h1 {
    font-size: 24px;
    line-height: 30px;
    padding-bottom: 30px;
}

#portfolio-filter { margin-top: -15px; border-bottom:none; }

#portfolio-filter li {
    padding: 15px 0;
    width: 33.33%;
	border-bottom: 1px solid #eee;
}

#portfolio-filter li a {
    padding: 0 10px;
    border-left: none;
    text-align: center;
}



#portfolio-single-wrap #slider,
#portfolio-single-wrap.portfolio-single-left #slider,
#portfolio-single-wrap.portfolio-single-full #slider,
.postcontent #portfolio-single-wrap #slider {
    float: none;
    margin-bottom: 30px;
    width: 100%;
}


#portfolio-details-wrap,
#portfolio-single-wrap.portfolio-single-left #portfolio-details-wrap,
#portfolio-single-wrap.portfolio-single-full #portfolio-details-wrap,
.postcontent #portfolio-single-wrap #portfolio-details-wrap,
#portfolio-single-wrap.portfolio-single-full .port-desc,
#portfolio-single-wrap.portfolio-single-full.portfolio-single-full-left .port-desc,
.postcontent #portfolio-single-wrap .port-desc,
#portfolio-single-wrap.portfolio-single-full .port-details,
#portfolio-single-wrap.portfolio-single-full.portfolio-single-full-left .port-details,
.postcontent #portfolio-single-wrap .port-details,
#portfolio-single-wrap.portfolio-single-full.portfolio-single-full-left .port-desc,
.postcontent #portfolio-single-wrap.portfolio-single-left .port-desc,
#portfolio-single-wrap.portfolio-single-full.portfolio-single-full-left .port-details,
.postcontent #portfolio-single-wrap.portfolio-single-left .port-details {
    float: none;
    width: 100%;
    margin: 0 0 30px;
}

#portfolio-single-wrap.portfolio-single-full #portfolio-details-wrap,
.postcontent #portfolio-single-wrap #portfolio-details-wrap,
#portfolio-single-wrap.portfolio-single-full .port-desc,
#portfolio-single-wrap.portfolio-single-full.portfolio-single-full-left .port-desc,
.postcontent #portfolio-single-wrap .port-desc,
#portfolio-single-wrap.portfolio-single-full.portfolio-single-full-left .port-details,
.postcontent #portfolio-single-wrap.portfolio-single-left .port-details { margin: 0; }

#portfolio-details-wrap .port-details { margin-top: 35px; }

#portfolio-navigation {
    position: relative;
    top: 0;
    left: 0;
    right: auto;
    margin: 20px auto 0;
}

.small-posts .entry_image {
    float: left;
    width: 175px;
    margin: 0;
}
.entry_image a, .entry_image img {
	width:100%;
	height:auto;
}
.entry_date {
    float: left;
    width: 50px;
    text-align: center;
}

.postcontent .small-posts .entry_date {
    width: 60px;
    margin-right: 10px;
}

.col_full .small-posts .entry_date { margin-right: 15px; }
/*
.entry_date div.month,
.entry_date div.day,
.postcontent .small-posts .entry_date div.month,
.postcontent .small-posts .entry_date div.day {
    font-size: 16px;
    padding: 0 0 12px;
}

.entry_date div.day,
.postcontent .small-posts .entry_date div.day {
    padding: 12px 0 0;
    font-size: 28px;
}
*/
.entry_date div.post-icon { font-size: 30px; }

.entry_c,
.col_full .entry_c {
    margin-left: 15px;
    width: 365px;
}

.postcontent .small-posts .entry_c,
.col_full .small-posts .entry_c { width: 250px; }

.entry_title { margin-bottom: 10px; }

.entry_title h2 {
    font-size: 17px;
    line-height: 22px;
}

.postcontent .small-posts .entry_title h2,
.col_full .small-posts .entry_title h2 {
    font-size: 16px;
    line-height: 20px;
}

.post-single .entry_title h2 {
    text-align: center;
    font-size: 20px;
    line-height: 26px;
}

.entry_meta { margin: 0 -7px -7px 0; }

.small-posts .entry_meta,
.small-posts span.page-divider { display: none; }

.post-single .entry_meta { margin-bottom: 12px; }

.entry_meta li {
    margin: 0 7px 7px 0;
    float: none;
}

.entry_meta li span { display: none; }

.post-single .entry_meta li { text-align: center; }

.entry_content { font-size: 12px; }

.small-posts .entry_content { margin-top: 20px; }

.post-overlay {
    width: 16px;
    height: 16px;
    padding: 4px;
    line-height: 16px;
    font-size: 15px;
}

.ipost .post-overlay {
    width: 24px;
    height: 24px;
    padding: 6px;
    line-height: 24px;
    font-size: 22px;
}

.entry_share { text-align: center; }

.entry_share span {
    float: none;
    margin: 0 0 10px;
}

.entry_share a {
    display: inline-block;
    float: none;
    margin: 0 7px;
}


img.alignleft,
div.alignleft,
img.alignnone,
img.aligncenter,
div.alignnone,
div.aligncenter,
img.alignright,
div.alignright,
.wp-caption {
    display: block !important;
    float: none;
    margin: 10px auto;
    clear: both;
}

.wp-caption img {
    position: relative;
    margin: 0 auto !important;
}

.wp-caption { margin: 15px auto; }

.comment-avatar img {
    width: 40px;
    height: 40px;
}


.promo {
    padding: 15px 18px;
    text-align: center;
}

.promo-desc { padding: 0 !important; }

.promo h3 {
    font-size: 17px;
    line-height: 22px;
}

.promo-desc > span {
    font-size: 13px;
    line-height: 20px;
}
#call_action {
	padding:30px 0;	
	text-align:center;
}
.promo-action, #call_action .promo-action {
    position: relative;
    right: auto;
    top: 0;
    margin: 12px auto 0;
    max-width: none;
}

.promo-action a {
    display: inline-block;
    font-size: 13px;
    padding: 0 12px;
    line-height: 36px;
}
#call_action .promo-text { padding: 0 !important; }

.error404 { font-size: 124px; }

.error404 span { font-size: 32px; }

.error404-meta form { width: 280px; }

.error404-meta input[type="text"] { width: 244px; }


.side-tabs { border-bottom: 3px solid #E5E5E5; }

.side-tabs ul.tabs {
    float: none;
    width: 100%;
    padding: 0;
    border: none;
}

.side-tabs ul.tabs li {
    border: 1px solid #DDD;
    border-top: none;
}

.side-tabs ul.tabs li.active {
    border-right: 1px solid #DDD;
    margin-right: 0;
}

.side-tabs ul.tabs li.active a:hover { border-right: none; }

.side-tabs .tab_content { padding: 20px 0; }


.pricing { margin-bottom: 20px; }

.pricing .pricing-wrap,
.pricing3 .pricing-wrap,
.pricing3.spacing .pricing-wrap,
.pricing4 .pricing-wrap,
.pricing4.spacing .pricing-wrap,
.pricing5 .pricing-wrap,
.pricing5.spacing .pricing-wrap {
	float: none;
	width: 100%;
    margin-bottom: 20px;
}

.pricing .pricing-wrap.best-price { margin-left: 0; margin-top: 0px; box-shadow: none; }

.pricing-wrap .pricing-inner { border: 1px solid #E5E5E5; }

.pricing-defines { display: none; }


#copyrights { padding: 20px; }

#copyrights .col_half {
    margin: 15px 0 0 !important;
    text-align: center !important;
}

#copyrights .col_half:first-child { margin: 0 !important; }

#copyrights a,
#copyrights span.link-divider { margin: 0 4px; }

.searchtop-meta {
	left: auto;
	right: 0;
	margin-top: 20px;
	position:static;
}

.product-feature {
	padding-bottom:30px;
}

#wpadminbar {
	position:fixed !important;
}

/* WooCommerce */

#content ul.products li.product, #content .postcontent ul.products li.product {
	width: 47%;
	margin: 0 5% 5% 0;
}
#content ul.products li.product:nth-child(2n), #content .postcontent ul.products li.product:nth-child(2n) {
	margin-right: 0;
}

.add_to_cart_button {
	float: none;	
	display: inline;
}
.show_details_button{
	float: right;
	display: inline;

}

/* woocommerce */

.woocommerce #content .container div.product div.images, .woocommerce .container div.product div.images, .woocommerce-page #content .container div.product div.images, .woocommerce-page .container div.product div.images, .woocommerce #content .container div.product div.summary, .woocommerce .container div.product div.summary, .woocommerce-page #content .container div.product div.summary, .woocommerce-page .container div.product div.summary {
	width:100%;
}
.woocommerce #content .container div.product div.images, .woocommerce .container div.product div.images, .woocommerce-page #content .container div.product div.images, .woocommerce-page .container div.product div.images {
	margin-bottom: 0px;
}

.woocommerce #content .container nav.woocommerce-pagination, .woocommerce .container nav.woocommerce-pagination, .woocommerce-page #content .container nav.woocommerce-pagination, .woocommerce-page .container nav.woocommerce-pagination {
	text-align:center;
}

.product_share {
	margin-left:-10px;
}

}


/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {


#wrapper {
    width: 480px !important;
    margin: 0 auto;
}

.container { width: 440px; }

#slider,
.slider-wrap,
.ei-slider,
.rs-slider,
#slider.slider-nivo,
.nivoSlider,
.camera_wrap,
#slider.piecemaker-slider { height: 188px; }

#slider.revolution-slider .fullwidthbanner-container,
#slider.revolution-slider .fullwidthbanner {
    height: 188px !important;
    max-height: 188px !important;
}

#slider.thumb-slider { height: auto; }

#slider.thumb-slider .flex-prev,
#slider.thumb-slider .flex-next { bottom: 27px; }

#slider.thumb-slider .flex-control-thumbs,
#slider.thumb-slider .rs-thumb-wrap { height: 27px; }

.flex-control-thumbs li,
.rs-thumb-wrap a {
    width: 48px !important;
    height: 27px !important;
}

.rs-thumb-wrap a,
.flex-control-thumbs li img {
    height: 24px !important;
    border-top: 3px solid #CCC;
}

.flex-control-thumbs li img,
.rs-thumb-wrap a img {
    width: 48px !important;
    height: 24px !important;
}

.rs-thumb-wrap a img { border: none; }

.countdown_section {
    width: 110px;
    font-size: 13px;
    line-height: 20px;
}

.countdown_amount {
	font-size: 54px;
    line-height: 60px;
}

.lp-subscribe form { max-width: 440px; }

.lp-subscribe input[type="text"] {
    width: 243px;
}


#portfolio,
.postcontent #portfolio { margin: 0 -10px -10px 0; }

.portfolio-item,
.postcontent .portfolio-item,
.postcontent.columns .portfolio-item {
    margin: 0 10px 10px 0;
    width: 215px;
}

.portfolio-item .portfolio-image,
.portfolio-item .portfolio-image a,
.portfolio-item .portfolio-image img,
.postcontent .portfolio-item .portfolio-image,
.postcontent .portfolio-item .portfolio-image a,
.postcontent .portfolio-item .portfolio-image img,
.postcontent.columns .portfolio-item .portfolio-image,
.postcontent.columns .portfolio-item .portfolio-image img,
.postcontent.columns .portfolio-item .portfolio-image a {
    width: 215px;
    height: 146px;
}
.portfolio-item .portfolio-image-round,
.portfolio-item .portfolio-image-round img {
	width:215px;
	height:215px;
}
.portfolio-image-round .item-mask {
	background-size:100%;
}

#portfolio.portfolio-3,
.postcontent #portfolio.portfolio-3 { margin: 0 -10px -10px 0; }

.portfolio-3 .portfolio-item,
.postcontent .portfolio-3 .portfolio-item {
    margin: 0 10px 10px 0;
    width: 215px;
}

.portfolio-3 .portfolio-item .portfolio-image,
.portfolio-3 .portfolio-item .portfolio-image a,
.portfolio-3 .portfolio-item .portfolio-image img,
.postcontent.columns .portfolio-3 .portfolio-image,
.postcontent.columns .portfolio-3 .portfolio-image a,
.postcontent.columns .portfolio-3 .portfolio-image img {
    width: 215px;
    height: 146px;
}

#portfolio.portfolio-2,
.postcontent #portfolio.portfolio-2 { margin: 0 0 -20px 0; }

.portfolio-2 .portfolio-item,
.postcontent .portfolio-2 .portfolio-item {
    margin: 0 0 20px 0;
    width: 440px;
}

.portfolio-2 .portfolio-item .portfolio-image,
.portfolio-2 .portfolio-item .portfolio-image a,
.portfolio-2 .portfolio-item .portfolio-image img,
.postcontent.columns .portfolio-2 .portfolio-image,
.postcontent.columns .portfolio-2 .portfolio-image a,
.postcontent.columns .portfolio-2 .portfolio-image img {
    width: 440px;
    height: 300px;
}

#portfolio.portfolio-5 { margin: 0 -10px -10px 0; }

.portfolio-5 .portfolio-item {
    width: 215px;
    margin: 0 10px 10px 0;
}

.portfolio-5 .portfolio-item .portfolio-image,
.portfolio-5 .portfolio-item .portfolio-image a,
.portfolio-5 .portfolio-item .portfolio-image img {
    width: 215px;
    height: auto;
}

#portfolio .slider-wrap,
.postcontent #portfolio .slider-wrap { height: 168px; }

#portfolio.portfolio-3 .slider-wrap,
.postcontent #portfolio.portfolio-3 .slider-wrap { height: 146px; }

#portfolio.portfolio-2 .slider-wrap,
.postcontent #portfolio.portfolio-2 .slider-wrap { height: 280px; }


.portfolio-overlay-wrap,
.portfolio-3 .portfolio-overlay-wrap { display: none; }

.portfolio-2 .portfolio-overlay-wrap { display: block; }

#portfolio .p-overlay-icons,
#portfolio.portfolio-3 .p-overlay-icons {
    top: 50%;
    margin-top: -14px;
    width: 58px;
    left: 50%;
    margin-left: -29px;
}

#portfolio.portfolio-2 .p-overlay-icons {
    position: absolute;
    top: auto;
    left: auto;
    bottom: 0;
    right: 0;
    width: auto;
    height: 28px;
    margin-top: 0;
    margin-left: 0;
}


.portfolio-title h3 { font-size: 13px; }

#portfolio-details-wrap .port-terms h5 { width: 150px; }

.scroll-portfolio .portfolio-item { width: 215px !important; }

.scroll-portfolio .portfolio-item .portfolio-image,
.scroll-portfolio .portfolio-item .portfolio-image > a,
.scroll-portfolio .portfolio-item .portfolio-image > a > img {
    width: 215px !important;
    height: 146px;
}

.vc_span2 .scroll-portfolio .portfolio-item,
.vc_span3 .scroll-portfolio .portfolio-item,
.vc_span4 .scroll-portfolio .portfolio-item,
.vc_span6 .scroll-portfolio .portfolio-item,
.vc_span8 .scroll-portfolio .portfolio-item,
.vc_span9 .scroll-portfolio .portfolio-item,
.vc_span10 .scroll-portfolio .portfolio-item {
	width: 210px !important;
}

.vc_span2 .scroll-portfolio .portfolio-item .portfolio-image,
.vc_span2 .scroll-portfolio .portfolio-item .portfolio-image a,
.vc_span2 .scroll-portfolio .portfolio-item .portfolio-image img,
.vc_span3 .scroll-portfolio .portfolio-item .portfolio-image,
.vc_span3 .scroll-portfolio .portfolio-item .portfolio-image a,
.vc_span3 .scroll-portfolio .portfolio-item .portfolio-image img,
.vc_span4 .scroll-portfolio .portfolio-item .portfolio-image,
.vc_span4 .scroll-portfolio .portfolio-item .portfolio-image a,
.vc_span4 .scroll-portfolio .portfolio-item .portfolio-image img,
.vc_span6 .scroll-portfolio .portfolio-item .portfolio-image,
.vc_span6 .scroll-portfolio .portfolio-item .portfolio-image a,
.vc_span6 .scroll-portfolio .portfolio-item .portfolio-image img,
.vc_span8 .scroll-portfolio .portfolio-item .portfolio-image,
.vc_span8 .scroll-portfolio .portfolio-item .portfolio-image a,
.vc_span8 .scroll-portfolio .portfolio-item .portfolio-image img,
.vc_span9 .scroll-portfolio .portfolio-item .portfolio-image,
.vc_span9 .scroll-portfolio .portfolio-item .portfolio-image a,
.vc_span9 .scroll-portfolio .portfolio-item .portfolio-image img,
.vc_span10 .scroll-portfolio .portfolio-item .portfolio-image,
.vc_span10 .scroll-portfolio .portfolio-item .portfolio-image a,
.vc_span10 .scroll-portfolio .portfolio-item .portfolio-image img {
	width: 210px !important;
	height: 143px;
}


#portfolio-related-items li,
#portfolio-related-items li > a,
#portfolio-related-items li > img,
.postcontent #portfolio-related-items li,
.postcontent #portfolio-related-items li > a,
.postcontent #portfolio-related-items li > img {
    display: block;
    width: 143px !important;
    height: 111px;
}

.related-posts { margin: 0 -10px 0 0; }

.related-posts li {
    margin: 0 10px 0 0;
    width: 140px !important;
}

.rpost-image,
.rpost-image a,
.rpost-image img {
    width: 140px !important;
    height: 102px;
}

.our-clients li{
	/*min-height:72px;*/
}
.our-clients li,
.our-clients li a,
.our-clients li img,
.our-clients .item,
.our-clients .item a,
.our-clients .item img {
    width: 88px ;
    /*height: 82px;*/
}
.our-clients li img, .our-clients .item img {
	width: auto;
}

.vc_span2 .our-clients li a, .vc_span2 .our-clients li a img { width: 42px; }
.vc_span3 .our-clients li a, .vc_span3 .our-clients li a img { width: 80px; }
.vc_span4 .our-clients li a, .vc_span4 .our-clients li a img { width: 117px; }
.vc_span6 .our-clients li a, .vc_span6 .our-clients li a img { width: 85px; }
.vc_span8 .our-clients li a, .vc_span8 .our-clients li a img { width: 123px; }
.vc_span9 .our-clients li a, .vc_span9 .our-clients li a img { width: 87px; }
.vc_span10 .our-clients li a, .vc_span10 .our-clients li a img { width: 99px; }

.vc_span2 .our-clients .item a, .vc_span2 .our-clients .item a img { width: 42px; }
.vc_span3 .our-clients .item a, .vc_span3 .our-clients .item a img { width: 80px; }
.vc_span4 .our-clients .item a, .vc_span4 .our-clients .item a img { width: 117px; }
.vc_span6 .our-clients .item a, .vc_span6 .our-clients .item a img { width: 85px; }
.vc_span8 .our-clients .item a, .vc_span8 .our-clients .item a img { width: 123px; }
.vc_span9 .our-clients .item a, .vc_span9 .our-clients .item a img { width: 87px; }
.vc_span10 .our-clients .item a, .vc_span10 .our-clients .item a img { width: 99px; }

.our-team.team-4 { margin: 0 -20px 10px 0; }

.team-member { width: 440px; }

.team-4 .team-member {
    margin: 0 20px 20px 0;
    width: 210px;
}

.team-image,
.team-image img {
    width: 440px;
	/*
    height: 367px;
	*/
}

.team-4 .team-image,
.team-4 .team-image img {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
}

.sidebar-widgets-wrap,
.footer-widgets-wrap {
    position: relative;
    margin: 0 -21px -40px -2px;
}

.sidebar-widgets-wrap .widget {
    width: 210px;
	margin: 0 20px 40px 0;
    border-top: none;
    padding-top: 0;
}

.sidebar-widgets-wrap .widget-scroll-prev,
.sidebar-widgets-wrap .widget-scroll-next { top: 0; }

#footer .col_one_fourth {
    width: 210px;
    margin: 0 20px 40px 0 !important;
}

.widget .tab_widget ul.tabs li a {
	font-size: 13px;
	padding: 0 12px;
    font-weight: bold;
}

.sidebar-widgets-wrap .widget,
#footer .col_one_fourth {
    display: inline-block;
    vertical-align: top;
    float: none;
}

.vc_pie_chart .vc_pie_chart_value {
	font-size:1.5em !important;
}
.vc_pie_chart .vc_pie_chart_value i {
	font-size: 30px !important;
}
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {

.taptocall {
	display:block;
}

#wrapper {
    width: 320px !important;
    margin: 0 auto;
}

.container { width: 280px; }

.realwidth { width:280px !important; }

#top-social ul { margin: 0 -20px; }

#top-menu {
	height:auto;
}

#top-menu li {
	margin-left:0;
}

#top-menu .mail {
	border-right:none;
	margin-right:0;
	padding-right:0;
}

#slider,
.slider-wrap,
.ei-slider,
.rs-slider,
#slider.slider-nivo,
.nivoSlider,
.camera_wrap,
#slider.piecemaker-slider { height: 125px; }

#slider.revolution-slider .fullwidthbanner-container,
#slider.revolution-slider .fullwidthbanner {
    height: 125px !important;
    max-height: 125px !important;
}

#slider.thumb-slider { height: auto; }

#slider.thumb-slider .flex-prev,
#slider.thumb-slider .flex-next { bottom: 19px; }

#slider.thumb-slider .flex-control-thumbs,
#slider.thumb-slider .rs-thumb-wrap { height: 19px; }

.flex-control-thumbs li,
.rs-thumb-wrap a {
    width: 32px !important;
    height: 19px !important;
}

.rs-thumb-wrap a,
.flex-control-thumbs li img {
    height: 32px !important;
    border-top: 3px solid #CCC;
}

.flex-control-thumbs li img,
.rs-thumb-wrap a img {
    width: 32px !important;
    height: 16px !important;
}

.rs-thumb-wrap a img { border: none; }

.countdown_section {
    width: 70px;
    font-size: 12px;
    line-height: 20px;
}

.countdown_amount {
	font-size: 42px;
    line-height: 48px;
}

.lp-subscribe form {
    text-align: center;
    max-width: 280px;
}

.lp-subscribe input[type="text"] {
    width: 220px;
    margin-bottom: 10px !important;
}

.lp-subscribe input[type="submit"] {
    display: inline-block;
    float: none;
}

#portfolio-filter li { width: 50%; }

#portfolio,
.postcontent #portfolio { margin: 0 0 -10px 0; }

.portfolio-item,
.postcontent .portfolio-item,
.postcontent.columns .portfolio-item {
    margin: 0 0 10px 0;
    width: 280px;
}
/*
.portfolio-overlay-inside span {
	top: 38%;
	left: 42%;
}
*/
.portfolio-item .portfolio-image,
.portfolio-item .portfolio-image a,
.portfolio-item .portfolio-image img,
.scroll-portfolio .portfolio-item .portfolio-image img,
.postcontent .portfolio-item .portfolio-image,
.postcontent .portfolio-item .portfolio-image a,
.postcontent .portfolio-item .portfolio-image img,
.postcontent.columns .portfolio-item .portfolio-image,
.postcontent.columns .portfolio-item .portfolio-image a,
.postcontent.columns .portfolio-item .portfolio-image img {
    width: 280px !important;
    height: 190px;
}

#portfolio.portfolio-3,
.postcontent #portfolio.portfolio-3 { margin: 0 0 -10px 0; }

.portfolio-3 .portfolio-item,
.postcontent .portfolio-3 .portfolio-item {
    margin: 0 0 10px 0;
    width: 280px;
}

.portfolio-3 .portfolio-item .portfolio-image,
.portfolio-3 .portfolio-item .portfolio-image a,
.portfolio-3 .portfolio-item .portfolio-image img,
.postcontent.columns .portfolio-3 .portfolio-image,
.postcontent.columns .portfolio-3 .portfolio-image a,
.postcontent.columns .portfolio-3 .portfolio-image img {
    width: 280px;
    height: 190px;
}

#portfolio.portfolio-2,
.postcontent #portfolio.portfolio-2 { margin: 0 0 -10px 0; }

.portfolio-2 .portfolio-item,
.postcontent .portfolio-2 .portfolio-item {
    margin: 0 0 10px 0;
    width: 280px;
}

.portfolio-2 .portfolio-item .portfolio-image,
.portfolio-2 .portfolio-item .portfolio-image a,
.portfolio-2 .portfolio-item .portfolio-image img,
.postcontent .portfolio-2 .portfolio-image,
.postcontent .portfolio-2 .portfolio-image a,
.postcontent .portfolio-2 .portfolio-image img,
.postcontent.columns .portfolio-2 .portfolio-image,
.postcontent.columns .portfolio-2 .portfolio-image a,
.postcontent.columns .portfolio-2 .portfolio-image img {
    width: 280px;
    height: 191px;
}

#portfolio.portfolio-5 { margin: 0 -10px -10px 0; }

.portfolio-5 .portfolio-item {
    width: 280px;
    margin: 0 10px 10px 0;
}

.portfolio-5 .portfolio-item .portfolio-image,
.portfolio-5 .portfolio-item .portfolio-image a,
.portfolio-5 .portfolio-item .portfolio-image img {
    width: 280px;
    height: auto;
}

#portfolio .slider-wrap,
.postcontent #portfolio .slider-wrap { height: 219px; }

#portfolio.portfolio-3 .slider-wrap,
.postcontent #portfolio.portfolio-3 .slider-wrap { height: 190px; }

#portfolio.portfolio-2 .slider-wrap,
.postcontent #portfolio.portfolio-2 .slider-wrap { height: 178px; }

.portfolio-title h3 { font-size: 13px; }

.portfolio-2 .portfolio-overlay-wrap {
    font-size: 12px;
    line-height: 20px;
}

#portfolio-details-wrap .port-terms h5 { width: 110px; }

.scroll-portfolio .portfolio-item, 
.vc_span2 .scroll-portfolio .portfolio-item,
.vc_span3 .scroll-portfolio .portfolio-item,
.vc_span4 .scroll-portfolio .portfolio-item,
.vc_span6 .scroll-portfolio .portfolio-item,
.vc_span8 .scroll-portfolio .portfolio-item,
.vc_span9 .scroll-portfolio .portfolio-item,
.vc_span10 .scroll-portfolio .portfolio-item { width: 280px !important; }

.scroll-portfolio .portfolio-item .portfolio-image,
.scroll-portfolio .portfolio-item .portfolio-image > a,
.scroll-portfolio .portfolio-item .portfolio-image > a > img,
.vc_span6 .scroll-portfolio .portfolio-item .portfolio-image,
.vc_span6 .scroll-portfolio .portfolio-item .portfolio-image a,
.vc_span6 .scroll-portfolio .portfolio-item .portfolio-image img,
.vc_span2 .scroll-portfolio .portfolio-item .portfolio-image,
.vc_span2 .scroll-portfolio .portfolio-item .portfolio-image a,
.vc_span2 .scroll-portfolio .portfolio-item .portfolio-image img,
.vc_span3 .scroll-portfolio .portfolio-item .portfolio-image,
.vc_span3 .scroll-portfolio .portfolio-item .portfolio-image a,
.vc_span3 .scroll-portfolio .portfolio-item .portfolio-image img,
.vc_span4 .scroll-portfolio .portfolio-item .portfolio-image,
.vc_span4 .scroll-portfolio .portfolio-item .portfolio-image a,
.vc_span4 .scroll-portfolio .portfolio-item .portfolio-image img,
.vc_span8 .scroll-portfolio .portfolio-item .portfolio-image,
.vc_span8 .scroll-portfolio .portfolio-item .portfolio-image a,
.vc_span8 .scroll-portfolio .portfolio-item .portfolio-image img,
.vc_span9 .scroll-portfolio .portfolio-item .portfolio-image,
.vc_span9 .scroll-portfolio .portfolio-item .portfolio-image a,
.vc_span9 .scroll-portfolio .portfolio-item .portfolio-image img,
.vc_span10 .scroll-portfolio .portfolio-item .portfolio-image,
.vc_span10 .scroll-portfolio .portfolio-item .portfolio-image a,
.vc_span10 .scroll-portfolio .portfolio-item .portfolio-image img { 
    width: 280px !important;
    height: 190px;
}


#portfolio-related-items li,
#portfolio-related-items li > a,
#portfolio-related-items li > img,
.postcontent #portfolio-related-items li,
.postcontent #portfolio-related-items li > a,
.postcontent #portfolio-related-items li > img {
    display: block;
    width: 137px !important;
    height: 106px;
}


.small-posts .entry_image {
    float: none;
    width: 100%;
    margin: 0 0 20px 0;
}

.entry_c,
.col_full .entry_c {
    margin-left: 15px;
    width: 205px;
}

.postcontent .small-posts .entry_c,
.col_full .small-posts .entry_c {
    width: 100%;
    margin: 0;
}

.entry_title { margin-bottom: 10px; }

.entry_image .post-overlay {
    width: 24px;
    height: 24px;
    padding: 6px;
    line-height: 24px;
    font-size: 22px;
}


.entry_share a { margin: 0 4px; }


.related-posts { margin: 0 -10px 0 0; }

.related-posts li {
    margin: 0 10px 0 0;
    width: 135px !important;
}

.rpost-image,
.rpost-image a,
.rpost-image img {
    width: 135px !important;
    height: 98px;
}

.tab_widget ul.tabs { height: auto; }

.side-tabs ul.tabs { height: auto; }

.tab_widget ul.tabs li {
	height: 35px;
	line-height: 35px;
}

.side-tabs ul.tabs li {
    height: 40px;
	line-height: 40px;
}

.tab_widget ul.tabs li a {
	font-size: 13px;
    font-weight: normal;
}

.tabbed-widget .tab_widget ul.tabs a { padding: 0 4px; }

.side-tabs ul.tabs li a {
	font-size: 14px;
	padding: 0 15px;
	font-weight: bold;
}

.tab_widget ul.tabs li a i {
    font-size: 15px;
	height:35px;
}

.side-tabs ul.tabs li a i {
    font-size: 18px;
    width: 18px;
    height: 18px;
    margin-right: 8px;
}
.our-clients li, .our-clients .item {
	min-height:67px;
	line-height:67px;
}
.our-clients li,
.our-clients li a,
.our-clients li img,
.our-clients .item,
.our-clients .item a,
.our-clients .item img {
    width: 71px;
	vertical-align:middle;
	display:inline-block;
    /*height: 80px;*/
}

.vc_span2 .our-clients li a, .vc_span2 .our-clients li a img {	width: 118px; }
.vc_span3 .our-clients li a, .vc_span3 .our-clients li a img {	width: 118px; }
.vc_span4 .our-clients li a, .vc_span4 .our-clients li a img {	width: 118px; }
.vc_span6 .our-clients li a, .vc_span6 .our-clients li a img {	width: 118px; }
.vc_span8 .our-clients li a, .vc_span8 .our-clients li a img {	width: 118px; }
.vc_span9 .our-clients li a, .vc_span9 .our-clients li a img {	width: 118px; }
.vc_span10 .our-clients li a, .vc_span10 .our-clients li a img { width: 118px; }


.vc_span2 .our-clients .item a, .vc_span2 .our-clients .item a img {	width: 118px; }
.vc_span3 .our-clients .item a, .vc_span3 .our-clients .item a img {	width: 118px; }
.vc_span4 .our-clients .item a, .vc_span4 .our-clients .item a img {	width: 118px; }
.vc_span6 .our-clients .item a, .vc_span6 .our-clients .item a img {	width: 118px; }
.vc_span8 .our-clients .item a, .vc_span8 .our-clients .item a img {	width: 118px; }
.vc_span9 .our-clients .item a, .vc_span9 .our-clients .item a img {	width: 118px; }
.vc_span10 .our-clients .item a, .vc_span10 .our-clients .item a img { width: 118px; }

.our-team.team-4 { margin: 0 0 0 0; }

.team-member { width: 280px; }

.team-4 .team-member {
    margin: 0 0 30px 0;
    width: 280px;
}

.team-image,
.team-image img {
    width: 280px;
	/*
    height: 233px;
	*/
}

.team-4 .team-image,
.team-4 .team-image img {
    width: 270px;
	/*
    height: 270px;
	*/
    border-radius: 135px;
    -moz-border-radius: 135px;
    -webkit-border-radius: 135px;
}

.sidebar-widgets-wrap { margin: 0; }

.sidebar-widgets-wrap .widget {
    width: 280px;
	margin: 30px 0 0;
}

.sidebar-widgets-wrap .widget-scroll-prev,
.sidebar-widgets-wrap .widget-scroll-next { top: 30px; }

.sidebar-widgets-wrap .widget:first-child .widget-scroll-prev,
.sidebar-widgets-wrap .widget:first-child .widget-scroll-next { top: 0; }

.footer-widgets-wrap { margin: 0; }

#footer .col_one_fourth {
    width: 280px;
    padding-top: 30px;
    margin: 30px 0 0 0 !important;
    border-top: 3px double #E5E5E5;
}

#footer.footer-dark .col_one_fourth { border-top-color: #404040; }

#footer .col_one_fourth:first-child {
    padding-top: 0;
    margin-top: 0 !important;
    border: none;
}

.widget_search input[type="text"] { width: 233px; }

.widget .tab_widget ul.tabs { height: 42px; }

.widget .tab_widget ul.tabs li {
	height: 39px;
	line-height: 39px;
}

.widget .tab_widget ul.tabs li a {
	font-size: 14px;
	padding: 0 15px;
    font-weight: bold;
}

.widget .tab_widget ul.tabs li a i {
    font-size: 18px;
    width: 18px;
    height: 18px;
    margin-right: 5px;
}

.portfolio-widget .portfolio-item { width: 280px; }

.portfolio-widget .portfolio-item .portfolio-image,
.portfolio-widget .portfolio-item .portfolio-image a,
.portfolio-widget .portfolio-item .portfolio-image img {
    width: 280px;
    height: 218px;
}
#content ul.products li.product:nth-child(2n), #content .postcontent ul.products li.product:nth-child(2n) {
	margin-right:auto;
}
#content ul.products li.product, #content .postcontent ul.products li.product {
	width: 76%;
	float: none;
	margin: 0 auto 2.992em auto;
}
.woocommerce #content .woocommerce-result-count, .woocommerce-page .woocommerce-result-count {
	float: none;
	text-align:center;
}

.woocommerce #content .woocommerce-ordering, .woocommerce-page .woocommerce-ordering {
	float: none;
}

.woocommerce #content .woocommerce-ordering select, .woocommerce-page .woocommerce-ordering select {
	margin: 0 auto 30px;
}

.widget_product_search input[type="text"] {
	width: 240px;
}

}