#content ul.products {
	margin-bottom: 0px;
	padding-bottom: 10px;
	border-bottom:1px dotted #ccc;
}
#content .related.products ul.products {
	border: none;
}
#content ul.products li.product {
	margin: 0 2.5% 2.5% 0;
	width: 23.08%;
}
#content .postcontent ul.products li.product {
	width:31.6%;
}
#content .columns-3 ul.products li.product {
	width: 31.6%;
}
#content .columns-2 ul.products li.product {
	width: 47.6%;
	margin:0 4.5% 4.5% 0;
}
#content .columns-2 ul.products li.last {
	margin-right: 0;
}
#content ul.products li.last {
	margin-right: 0;
}

.woocommerce ul.products li.product .product_holder .product-loop-thumb a img, .woocommerce-page ul.products li.product .product_holder .product-loop-thumb a img {
	box-shadow:none;
	-webkit-box-shadow: none;
	margin-bottom:0;
}
.woocommerce #content .container .product .images img {
	box-shadow: none;
	-webkist-box-shadow: none;	
}

.woocommerce #content .container .product .images .fslider, .woocommerce #content .container .product .images .thumbnails img {
	border:1px solid #ededed;
}
/*
#content .added {
	display:none;
}
*/

.searchtop-meta .screen-reader-text {
	display:none;
}

#content a.added_to_cart {
	padding: 0;
	color: #f96e5b;
}
#content a.added_to_cart:hover {
	color: #222;
}

#content a.added_to_cart:after {
	display:none;
}
#content a.added_to_cart:before {
	font-family: "fontawesome";
	content: "\f07a";
	font-size:12px;
	padding-right: 3px;
	display: inline-block;
	width: 1.25em;
	text-align: center;
}

.product_holder {
	border:1px solid #ebeaea;
	transition:all .2s ease-in;
	-moz-transition:all .2s ease-in;
	-ms-transition:all .2s ease-in;
	-o-transition:all .2s ease-in;
}
.product_holder:hover {
	box-shadow: 0px 0px 15px rgba(0,0,0,0.15);
}
.product_holder .product_buttons_wrap a {
	opacity:0.4;
	filter:alpha(opacity=0);
	transition: opacity ease-in .2s;
	-moz-transition: opacity ease-in .2s;
	-ms-transition: opacity ease-in .2s;
	-o-transition: opacity ease-in .2s;
}
.product_holder:hover .product_buttons_wrap a {
	opacity: 1;
	filter:alpha(opacity=100);
}

.product_holder .product-loop-thumb { 
	position:relative ; 
	overflow: hidden;	
}
.product_holder .product-loop-thumb a { 
	position:relative ;
	display:block ; 
}
.product_holder .product-loop-thumb .product_buttons_wrap a {
	display:inline-block;
}
.product_holder .product-loop-thumb a img{ 
	width:100%; 
	box-shadow: none;	
}
.product_holder .product-loop-thumb a .product-loop-image{
	position:relative;
	z-index:0;
	visibility:hidden;
	opacity: 0;
	display: block;
}
.product_holder .product-loop-thumb a .product-hover-image{
	position:absolute;
	z-index:1;
	left:0;
	top:0;
	filter:alpha(opacity=0);
	opacity:0;
	transition:opacity .5s ease-in-out !important;
	-webkit-transition:opacity .5s ease-in-out !important;
	-moz-transition:opacity .5s ease-in-out !important;
	-ms-transition:opacity .5s ease-in-out !important;
	-o-transition:opacity .5s ease-in-out !important;
	-webkit-perspective: 1000;
}

.product_holder .product-loop-thumb a:hover .product-hover-image{ 	 
	filter: alpha(opacity=100); 
	opacity:100 ;
}

.woocommerce .product_holder .product-loop-thumb span.onsale, .woocommerce .product_holder .product-loop-thumb .wc-new-badge, .woocommerce .product_holder .product-loop-thumb .out-of-stock-badge, .woocommerce .product_holder .product-loop-thumb .free-badge, .single-product.woocommerce #content span.onsale {
	background: #f96e5b;
	color: #fff;
	text-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	white-space: nowrap;
	overflow: hidden;
	position: absolute;
	text-align: center;
	padding: 4px 15px;
	/*width: 70px;*/
	min-width: auto!important;
	height: 26px!important;
	min-height: 26px!important;
	max-height: 26px!important;
	margin: 0!important;
	border-radius: 0;
	right: -4px !important;
	top: -4px!important;
	left: auto;
	z-index: 1;
	text-transform: uppercase;
	font-size: 11px;
	line-height: 28px;
	font-weight: bold;
	letter-spacing: 0;
	/*
	transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg) translate3d(0,0,0);
	*/
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	-ms-box-sizing: content-box;
	box-sizing: content-box;
	z-index:15;	

	
}
.woocommerce .product_holder .product-loop-thumb .wc-new-badge {
	background: #3498db;
}
.woocommerce .product_holder .product-loop-thumb .out-of-stock-badge {
	background: #666;
	font-size: 10px;
	padding: 4px 8px;
}
.woocommerce .product_holder .product-loop-thumb .free-badge {
	background: #222;
}

.product_details {
	padding: 10px;
	border-top:1px solid #ebeaea;
}

.product_price {	
	margin-bottom: 1px;
}
.single_product {
	padding-top:10px;
	padding-bottom:5px;
}

.single_product_description {
	padding-top:10px;
	margin-top:1px;
	border-top:1px dotted #ccc;
}

.single_product_description ul {
	list-style:disc;
}


.product_holder .product_buttons_wrap {	
	background-color:rgba(0,0,0,0.85);
	position:absolute;
	bottom:-60px;
	z-index:1000;
	width:100%;
	transition: .2s ease-in-out;
	-webkit-transition: .2s ease-in-out;
	-moz-transition: .2s ease-in-out;
	-o-transition: .2s ease-in-out;
}
.product_holder:hover .product_buttons_wrap {
	bottom:0;
}
.product_buttons_wrap .product_buttons_wrap_inside {
	padding: 10px;
}
.product_buttons_wrap a {
	color:#e9e9e9;
	font-size: 10px;
	text-transform:uppercase;
}

.product_buttons_wrap.extra_st a {
	color:#444;
}

.product_buttons_wrap a [class^="fa-"] {
	font-size:12px;
	padding-right:3px;
}

.product_buttons_wrap a:hover {
	color: #f96e5b;
}
.show_details_button {
	float:right;
}

.woocommerce #content .container .quantity, .woocommerce-page #content .container .quantity {
	border: 1px solid #ededed;
	overflow: hidden;
	width: 92px;
	margin-top: 7px !important;
}
.woocommerce-page #content .container .quantity {
	margin-left:0;
}
.woocommerce #content .container .quantity .minus, .woocommerce #content .container .quantity .plus,
.woocommerce-page #content .container .quantity .minus, .woocommerce-page #content .container .quantity .plus {
	background: none ;
	background-color: #fbfaf9;
	border-radius: 0;
	width: 26px;
	cursor: pointer;
	float: left;
	border: 0;
	margin: 0;
	padding: 0;
	height: 31px;
	text-align: center;
	vertical-align: middle;
	font-size: 18px;
	color: #333;
	position:relative;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-right:1px solid #ededed;
	text-shadow: none;
	transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
}
.woocommerce #content .container .quantity .plus, .woocommerce-page #content .container .quantity .plus {
	border-left: 1px solid #ededed;
	border-right: none;
}

.woocommerce #content .container .quantity .minus:hover, .woocommerce #content .container .quantity .plus:hover,
.woocommerce-page #content .container .quantity .minus:hover, .woocommerce-page #content .container .quantity .plus:hover {
	background: none ;
	background-color: #f96e5b;
	color: #fff;
	text-shadow: none;
}

.woocommerce #content .container .quantity input.qty, .woocommerce-page #content .container .quantity input.qty {
	height:31px;
	border: none;	
	box-shadow: none;
	-webkit-box-shadow: none;
	-webkit-border-top-left-radius: 0;
	-webkit-border-bottom-left-radius: 0;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
/*
.woocommerce #content .container div.product form.cart, 
.woocommerce .container div.product form.cart, 
.woocommerce-page #content .container div.product form.cart, 
.woocommerce-page .container div.product form.cart {
	margin-bottom:1px;
	padding-bottom:15px;
	border-bottom: 1px dotted #ccc;
}
*/
.product_meta {
	margin-top: 0;
	padding-top:15px;
	border-top: 1px dotted #ccc;
	padding-bottom: 15px;
	border-bottom: 1px dotted #ccc;
	margin-bottom: 1px;

}
.product_meta_inside {
	float: left;
	width:65%;
	padding-top: 10px;
}
.product_share {
	float: right;
	width: 35%;
}
.product_meta a {
	color: #444;
}
.product_meta a:hover {
	color: #f96e5b;
}
.sku_wrapper, .posted_in, .tagged_as  {
	padding-right: 10px;
}

.woocommerce #content .container div.product div.summary, 
.woocommerce .container div.product div.summary, 
.woocommerce-page #content .container div.product div.summary, 
.woocommerce-page .container div.product div.summary {
	width:56%;
}

.woocommerce #content .container div.product div.images, 
.woocommerce .container div.product div.images, 
.woocommerce-page #content .container div.product div.images, 
.woocommerce-page .container div.product div.images {
	width: 40.2%;
	position: relative;
}

.entry-summary {
	border-bottom: 1px dotted #ccc;
}

#content .woocommerce ul.products li.product .price, 
.woocommerce-page ul.products li.product .product_details .product_price .price,
.woocommerce-page #content ul.products li.product .product_details .product_price .price,
.woocommerce #content .product .product_price p.price {
	color: #f96e5b;
	font-size:14px;
	line-height:20px;
	font-weight:bold;
}
.woocommerce #content div.product .product_price.single_product p.price{
	font-size:20px;
	font-weight:600;
	margin-bottom:10px;
}

/* Small thumbs on product pages */
ul.small_thumbs {
	margin: 0;
}
ul.small_thumbs li {
	float: left;
	width: 17.5%;
	margin-right: 3%;
	margin-bottom: 3%;
}

ul.small_thumbs li:nth-child(5n) {
	margin-right:0;
}

.woocommerce .tab_container #reviews #comments h2, .woocommerce-page .tab_container #reviews #comments h2 {
	font-size:12px; font-weight:600;
}
a.woocommerce-review-link {
	font-size: 11px;
}
.woocommerce #reviews #comments ol.commentlist li .comment-text, .woocommerce-page #reviews #comments ol.commentlist li .comment-text {
	background-color: #f7f7f7;
}
.woocommerce .commentlist {
	border-bottom: none;
	padding-bottom:0;
}
.woocommerce .tab_container h2 {
	font-size:12px;
	font-weight:600;
	padding-bottom:10px;
}
.woocommerce #reviews h3, .woocommerce-page #reviews h3 {
	font-size: 14px;
	font-weight:600;
	padding-bottom:10px;
}

/* woocommerce submit review button  */

.woocommerce .tab_container #reviews input#submit {
	background: none;
	text-shadow: none;
	border: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	background-color: #333;
	color: #fff;
	margin: 5px;
	font-size: 12px;
	padding: 0 15px;
	font-weight: 400;
	line-height: 30px;
	border: none;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	transition: all .2s linear;
	-moz-transition: all .2s linear;
	-webkit-transition: all .2s linear;
	-ms-transition: all .2s linear;
	-o-transition: all .2s linear;
}
.woocommerce .tab_container #reviews input#submit:hover {
	background: none;
	text-shadow: none;
	border: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	background-color: #f96e5b;
}

.tab_container #reviews #comments {
	margin-top:0;
}

.woocommerce #content div.product div.thumbnails ul.small_thumbs li a {
	float: none;
	width: auto;
	margin-right:0;
}

.woocommerce ul.products li.product .price del, 
.woocommerce-page ul.products li.product .product_details .product_price .price del,
#content ul.products li.product .price del {
	font-size:12px;	
}

.woocommerce ul.products li.product .product_details h3{
	padding-top:0;
	line-height:18px;
	font-size:12px;
}
.woocommerce ul.products li.product .product_details h3 a{
	color: #222;
}
.woocommerce ul.products li.product .product_details h3 a:hover{
	color: #f96e5b;
}

.cart-loading{
	display:block;
	height:40px;
	width:40px;
	line-height:40px;
	font-size:25px;
	color:#000;
	position:absolute;
	top:0;
	left:0;
	z-index:100;
	display:none;
	text-align:center;
}

.cart-loading{background-color:rgba(255,255,255,0.8) !important;}

.cart-loading .fa-refresh{
    -webkit-animation: mask 1s infinite;
    -moz-animation: mask 1s infinite alternate;
    -ms-animation: mask 1s infinite alternate;
    -o-animation: mask 1s infinite alternate;
    animation: mask 1s infinite alternate;
    display:inline-block;
}
@-webkit-keyframes mask {
    0%  { -webkit-transform: rotate(0deg); }    
    100% { -webkit-transform: rotate(360deg); }
}

@-moz-keyframes mask {
    0%  { -moz-transform: rotate(0deg); }    
    100% { -moz-transform: rotate(359deg); }
}

@-ms-keyframes mask {
    0%  { -ms-transform: rotate(0deg); }    
    100% { -ms-transform: rotate(360deg); }
}

@-o-keyframes mask {
    0%  { -o-transform: rotate(0deg); }    
    100% { -o-transform: rotate(360deg); }
}

@keyframes mask {
    0%  { transform: rotate(0deg); }    
    100% { transform: rotate(360deg); }
}

.added_to_cart{display:none !important;}

.shopping-cart span {
	position: absolute;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	padding: 2px 5px;
	color: #fff;
	font-size: 10px;
	line-height: 12px;
	font-weight: 700;
	font-style: normal;
	top: 50%;
	margin-top:-20px;
	left: 30px;
	background-color: #f96e5b;
}

#header > div > nav > ul > li.cart > a.shopping-cart {
	padding-left: 20px; padding-right:20px; 
	border-top:none;
	position: relative;
}
/*
#header.reduced > div > nav > ul > li.cart > a.shopping-cart {
	max-height: 70px;
}
*/
#header > div > nav > ul > li.cart > a.shopping-cart:hover, #header > div > nav > ul > li.cart > a.shopping-cart.active {
	color: #f96e5b;
}

#header .cart{
	margin-left: 0;
}
#header .cart-contents {
	display:block;
	position:absolute;
	top:97px;
	/* top: auto; */
	left:auto;
	right:0;
	padding:10px;
	padding-bottom:0;
	z-index:100;
	background-color: #ffffff;
	display:none;
}
#header.reduced .cart-contents {
	top:70px;
}
#header .cart:hover .cart-contents {
	
	
}
#header .cart-contents { 
	border:1px solid #e0dede; 
	border-top-color: #f2f2f2;

}
#header .cart-content {
	width:250px;
	padding: 10px 0;
	border-bottom: 1px solid #ededed !important;
}
#header .cart-content a {
	display:block;
	line-height:normal;
	border-top: none;
	padding:0;
	line-height:normal !important;
	height:auto !important;
}
#header .cart-contents .cart-content:last-child a {
	border-bottom:0;
}

#header .cart-content img {
	display:inline-block; 
	max-width:50px;
	margin-right:10px;
	vertical-align: top;
}
#header .cart-content .cart-desc {
	display:inline-block;
	width:182px;
	font-size:12px !important;
}
#header .cart-contents a span { 
	line-height:normal;
}
#header .cart-content .cart-title,#header .cart-content.quantity {
	display:block;font-size:12px !important;
}
#header .cart-content .cart-title {
	margin-bottom:5px;
}
#header .cart-content .cart-desc .product-quantity {
	color: #777;
	font-size: 12px;
	line-height: 20px;
	font-weight: bold;
}
#header .cart-content .cart-desc .product-quantity span.amount {
	color: #f96e5b;
}
#header .cart-content .cart-title a {
	color: #222;
	font-weight:600;
	font-size:12px;
}
#header .cart-content .cart-title a:hover {
	color: #f96e5b;
}

#header .cart-total { 
	padding:15px 0;
	border-bottom:1px dotted #ededed; 
	font-size:12px;
	font-weight:600;
	text-align: center;
}
#header .cart-total .amount {
	font-size: 16px;
	color: #f96e5b; 
}

#header .cart-checkout { overflow:hidden; margin-top:1px; margin-left:-10px; margin-right:-10px; padding-bottom:10px; background-color:#444; }
#header .cart-checkout a { line-height: 15px;padding: 2px 0; padding-top:10px ; color:#fff;}
#header .cart-checkout .cart-link a:before { font-family:'FontAwesome';content:"\f07a"; padding-right:5px; }

#header .cart-checkout a:hover {
	color: #f96e5b;
	background-color:transparent;
}
#header .cart-checkout .checkout-link a:before{font-family:'FontAwesome';content:"\f046"; padding-right:5px;}
#header .cart-checkout .cart-link a, #header .cart-checkout .checkout-link a{position:relative;}

.cart-checkout { font-size: 0; }
.cart-checkout .checkout-link, .cart-checkout .cart-link {width:50% ; display:inline-block; float: none; vertical-align: top;}

.cart-checkout .cart-link a { width: 100% ; display: block ; float: none ; text-align: center !important;}
.cart-checkout .checkout-link a { width: 100% ; display: block ; float: none ; text-align: center !important;}

/* Pagination */


.woocommerce #content .container nav.woocommerce-pagination , 
.woocommerce .container nav.woocommerce-pagination, 
.woocommerce-page #content .container nav.woocommerce-pagination, 
.woocommerce-page .container nav.woocommerce-pagination {
	margin-top: 1px;
	border-top: 1px dotted #ccc;
	padding-top: 30px;
	text-align: right;
}
.woocommerce #content .container nav.woocommerce-pagination ul, 
.woocommerce .container nav.woocommerce-pagination ul, 
.woocommerce-page #content .container nav.woocommerce-pagination ul, 
.woocommerce-page .container nav.woocommerce-pagination ul {
	border:none;
}

.woocommerce #content .container nav.woocommerce-pagination ul li, 
.woocommerce .container nav.woocommerce-pagination ul li, 
.woocommerce-page #content .container nav.woocommerce-pagination ul li, 
.woocommerce-page .container nav.woocommerce-pagination ul li {
	border-right: none;
	font-size:12px;
	line-height: 19px;
}

.woocommerce #content .container nav.woocommerce-pagination ul li a, 
.woocommerce .container nav.woocommerce-pagination ul li a, 
.woocommerce-page #content .container nav.woocommerce-pagination ul li a, 
.woocommerce-page .container nav.woocommerce-pagination ul li a {
	padding:5px;
	margin-right: 10px;
	padding: 7px 12px;
	border-radius: 3px;
	border:1px solid #ddd;
	background-color: #fff;
	font-size:12px;
	line-height: 17px;
	min-width: initial;
}

.woocommerce #content .container nav.woocommerce-pagination ul li span.current, 
.woocommerce .container nav.woocommerce-pagination ul li span.current, 
.woocommerce-page #content .container nav.woocommerce-pagination ul li span.current, 
.woocommerce-page .container nav.woocommerce-pagination ul li span.current {
	padding:5px;
	margin-right: 10px;
	padding: 7px 12px;
	border-radius: 3px;
	font-size:12px;
	line-height: 17px;
	min-width: initial;
	border:1px solid #f96e5b;
	background-color: #f96e5b;
	color: #fff;
}

.woocommerce #content .alert a {
	position: absolute;
	right: 5px;
	top: 5px;
	text-shadow: none;
}

.woocommerce #content .alert a.button.wc-forward {
	display: none;
}

/* shopping cart */
/*
.woocommerce form {
	padding-bottom:1px;
	border-bottom:1px dotted #ccc;
}
*/
.shopping_cart {
	border-bottom: 1px dotted #ccc;
}

.woocommerce table.shop_table.nv_class, .woocommerce-page table.shop_table.nv_class {
	border: none;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	margin-bottom:0;
}

.woocommerce #content .shopping_cart table.cart img, .woocommerce-page #content .shopping_cart table.cart img {
	width:70px;
}

.woocommerce #content table.cart td.actions, .woocommerce table.cart td.actions, .woocommerce-page #content table.cart td.actions, .woocommerce-page table.cart td.actions{
	padding:20px 0;
}

.woocommerce #content table.cart input.coupon_text, 
.woocommerce table.cart input.coupon_text, 
.woocommerce-page #content table.cart input.coupon_text, 
.woocommerce-page table.cart input.coupon_text {
	float: left;
	width:190px;
	position:relative;
	margin-right:10px;
	line-height: 20px;
	font-size: 12px;
}

#content .checkout-button.button.alt.wc-forward {
	display: none;
}
.shopping_cart table.shop_table a{
	font-weight: 600;
	color: #444;
}
.shopping_cart table.shop_table a:hover{
	color: #f96e5b;
}
.woocommerce table.cart th {
	text-transform: uppercase;
	color: #444;
}

.woocommerce #content table.cart input.simple-button, 
.woocommerce table.cart input.simple-button, 
.woocommerce-page #content table.cart input.simple-button, 
.woocommerce-page table.cart input.simple-button {
	line-height: 36px;
}


/* cart totals */

.woocommerce #content .cart-collaterals, .woocommerce-page #content .cart-collaterals {
	border-top:1px dotted #ccc;
	margin-top:1px;
	padding-top:20px;
}

.woocommerce #content .cart-collaterals .cart_totals, 
.woocommerce-page #content .cart-collaterals .cart_totals {
	width: 100%;
	text-align:left;
}
.woocommerce #content .cart-collaterals .cart_totals table, 
.woocommerce-page #content .cart-collaterals .cart_totals table {
	width: 100%;	
}

.woocommerce #content .cart-collaterals .cart_totals table tr th, 
.woocommerce-page #content .cart-collaterals .cart_totals table tr th,
.woocommerce #content .cart-collaterals .cart_totals table tr td, 
.woocommerce-page #content .cart-collaterals .cart_totals table tr td {
	width: 50%;	
	padding: 12px 0;
	border-bottom: 1px dotted #e5e5e5;

	border-top: none;
}

.woocommerce #content .cart-collaterals .cart_totals table tr td, 
.woocommerce-page #content .cart-collaterals .cart_totals table tr td {
	text-align: right;
	text-transform: none;
}
.woocommerce #content .cart-collaterals .cart_totals table tr.order-total td span.amount, 
.woocommerce-page #content .cart-collaterals .cart_totals table tr.order-total td span.amount {
	color: #f96e5b;
	font-size: 16px;
}

.shipping-calculator-form {
	display: block !important;
}

.woocommerce #content .cart-collaterals .cart_totals table tr.order-total th, 
.woocommerce-page #content .cart-collaterals .cart_totals table tr.order-total th,
.woocommerce #content .cart-collaterals .cart_totals table tr.order-total td, 
.woocommerce-page #content .cart-collaterals .cart_totals table tr.order-total td {
	text-transform: uppercase;
	font-weight:600;
}

/* checkout forms */
.checkout_cpn {
	margin-bottom:40px;
}
.checkout_log {
	margin-bottom:20px;
}

.woocommerce .checkout_cpn form.checkout_coupon, .woocommerce-page .checkout_cpn form.checkout_coupon,
.woocommerce .checkout_log form.login, .woocommerce-page .checkout_log form.login {
	margin-top:0;
}

.checkout_cpn .alert, .checkout_log .alert {
	margin-bottom:-5px;
}

.checkout_cpn .simple-button, .checkout_cpn .simple-button-3d, .checkout_log .simple-button, .checkout_log .simple-button-3d {
	margin-top:0;
	margin-bottom: 0;
}

.woocommerce #content .checkout .col-2 h3#ship-to-different-address, .woocommerce-page #content .checkout .col-2 h3#ship-to-different-address {
	float: none;
}
#ship-to-different-address label {
	font-size: inherit;
	color: inherit;
	margin-bottom: 0;
}
#ship-to-different-address input[type="checkbox"] {
	left:5px;
}

.woocommerce #content .col2-set, .woocommerce-page #content .col2-set {
	margin-bottom:40px;
}

.woocommerce #content table.shop_table, .woocommerce-page #content table.shop_table {
	border: none;
}

.woocommerce #content table.shop_table tfoot td.order_total,
.woocommerce-page #content table.shop_table tfoot td.order_total{ 
	font-size:18px;
	font-weight:600;
	color: #f96e5b;
}
.woocommerce #content #payment, .woocommerce-page #content #payment {
	background-color: transparent;
}
.woocommerce #content #payment div.payment_box, .woocommerce-page #content #payment div.payment_box {
	background: none;
	background-color: #f2f2f2;
	box-shadow: none;
}
.woocommerce #content #payment div.payment_box:after, .woocommerce-page #content #payment div.payment_box:after {
	border: 8px solid #f2f2f2;
	border-right-color: transparent;
	border-left-color: transparent;
	border-top-color: transparent;
}

.checkout_details h2 {
	font-size:22px;
	padding-bottom:10px;
}
.woocommerce #content .order_details li, .woocommerce-page #content .order_details li {
	font-size: 14px;
	font-weight: 300;
}

.woocommerce #content  .order_details li strong, .woocommerce-page #content .order_details li strong {
	font-size: 18px;
	font-weight: 400;
	color: #f96e5b;
}

.checkout_details dl {
	margin-left: 0;
}
.checkout_details dt, .checkout_details dd {
	display: inline-block;
}
.checkout_details dt {
	font-weight:600;
}
.checkout_details dd {
	margin-left:5px;
	margin-bottom:0;
}

.woocommerce .checkout_details table.shop_table td, .woocommerce-page .checkout_details table.shop_table td,
.woocommerce .checkout_details table.shop_table th.product-total, .woocommerce-page .checkout_details table.shop_table th.product-total {
	width: 50%;
	text-align:right;
}
.woocommerce .checkout_details table.shop_table td.product-name, .woocommerce-page .checkout_details table.shop_table td.product-name {
	text-align:left;
}
.woocommerce .checkout_details table.shop_table tfoot td span.amount, .woocommerce-page .checkout_details tfoot table.shop_table td span.amount {
	font-size: 18px;
	font-weight: 600;
	color: #f96e5b;
}
.woocommerce #content table.my_account_orders, .woocommerce-page #content table.my_account_orders {
	font-size: 12px;
}

.woocommerce-page #content .col2-set .title-outer {
	position: relative
}
.woocommerce-page #content .col2-set .title-outer a.edit {
	position: absolute;
	top: 3px;
	right: 0;
	font-size:11px;
}

.label {
	background-color: transparent;
	text-shadow: none;
	font-size:12px;
	font-weight: 500;
	line-height: 35px;
}
.product label {
	margin-bottom: 0;
	font-weight: 600 !important;
}

.woocommerce #content div.product p.price ins,
.woocommerce-page #content div.product p.price ins,
.woocommerce #content ul.products li.product .price ins, 
.woocommerce-page #content ul.products li.product .price ins,
.woocommerce ul.products li.product .price ins {
	text-decoration: none;
}

.woocommerce #content td.product-name dl.variation dd, .woocommerce-page #content td.product-name dl.variation dd {
	padding: 0;
	margin-bottom: 0;
}

.woocommerce #content .cart-collaterals .cross-sells, .woocommerce-page #content .cart-collaterals .cross-sells {
	width: 100%;
	float: none;
}

/* Woo Cart Widget */

#content ul.cart_list li a, .woocommerce #content ul.product_list_widget li a, .woocommerce-page #contente ul.cart_list li a, .woocommerce-page #content ul.product_list_widget li a {
	font-weight:400;
}

#content .container .widget_shopping_cart_content .quantity, .woocommerce-page #content .container .widget_shopping_cart_content .quantity {
	border: none;
	width: auto;
	font-weight:700;
}

#content .container .widget_shopping_cart_content .quantity .amount, .woocommerce-page #content .container .widget_shopping_cart_content .quantity .amount {
	color: #f96e5b;
}

#content .product_list_widget .amount {
	font-weight:700;
}
#content .product_list_widget ins {
	text-decoration: none;
}
.woocommerce .product_list_widget ins .amount {
	color: #f96e5b;
}

.woocommerce .product_list_widget del {
	font-size: 11px;
}

#content ul.cart_list li img, #content ul.product_list_widget li img {
	margin-left:0;
	margin-right:10px;
	width: auto;
	max-width:50px;
	box-shadow:none;
	-webkit-box-shadow: none;
}

#content ul.cart_list li dl,  #content ul.product_list_widget li dl {
	padding-left: 0;
	border-left: none;
}
#content ul.cart_list li,  #content ul.product_list_widget li {
	padding-bottom: 12px;
	margin-bottom: 12px;
	border-bottom: 1px dotted #e2e2e2;
}
#content ul.cart_list li:last-child,  #content ul.product_list_widget li:last-child {
	border: none;
	margin-bottom: 0;
}
#content ul.cart_list li dl dt, #content ul.product_list_widget li dl dt {
	font-weight: 400;
}
#content ul.cart_list li dl dd, #content ul.product_list_widget li dl dd {
	margin-bottom:0;
}
.widget_shopping_cart_content .total {
	margin-bottom:10px;
}
.widget_shopping_cart_content .total .amount {
	font-weight: 600;
	font-size: 16px;
	line-height: 30px;
	color: #f96e5b;
}
.extra_st {
	padding: 10px;
	background-color: #f4f4f4;
}
.widget_product_search label {
	display:none;
}

.woocommerce #content .star-rating, .woocommerce-page #content .star-rating {
	margin: 5px 0;
}

/* Price Filter */

.woocommerce #content .widget_price_filter .price_slider_wrapper .ui-widget-content, .woocommerce-page #content .widget_price_filter .price_slider_wrapper .ui-widget-content {
	background-color: #EBEBEB;
	height: 7px;
	background-image: none;
	border-radius: 300px 300px 300px 300px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset; 
	border-bottom: 1px solid #FFFFFF;
	
}

.woocommerce #content .widget_price_filter .ui-slider .ui-slider-range, .woocommerce-page #content .widget_price_filter .ui-slider .ui-slider-range {

	height: 7px;
	border: none!important;
	box-shadow: none!important;
	-moz-box-shadow: none!important;
	-webkit-box-shadow: none!important;
	background-image: none!important;
	border-radius: 300px 300px 300px 300px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.16) inset!important;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15) inset!important;
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15) inset!important;
	-o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15) inset!important;
	border-bottom: 1px solid #FFFFFF;
	background-color: #f96e5b;
}

.woocommerce #content .widget_price_filter .ui-slider .ui-slider-handle, .woocommerce-page .widget_price_filter .ui-slider .ui-slider-handle {
	background-color: #F5F5F5;
	background-image: none;
	height: 16px;
	width: 16px;
	top: -5px;
	border: none;
	box-shadow: 0px 1px 4px rgba(0,0,0,0.25), 0px 9px 8px rgba(0,0,0,0.035), 0px 1px 0px #fff inset;
	-moz-box-shadow: 0px 1px 4px rgba(0,0,0,0.25), 0px 9px 8px rgba(0,0,0,0.035), 0px 1px 0px #fff inset;
	-webkit-box-shadow: 0px 1px 4px rgba(0,0,0,0.25), 0px 9px 8px rgba(0,0,0,0.035), 0px 1px 0px #fff inset;
	-o-box-shadow: 0px 1px 4px rgba(0,0,0,0.25), 0px 9px 8px rgba(0,0,0,0.035), 0px 1px 0px #fff inset;
}
.woocommerce #content .widget_price_filter .price_slider_amount .button, .woocommerce-page #content .widget_price_filter .price_slider_amount .button {
	display: inline-block;
	position: relative;
	cursor: pointer;
	outline: none;
	white-space: nowrap;
	margin: 5px;
	color: #555;
	font-size: 13px;
	padding: 0 15px;
	font-weight: 400;
	line-height: 26px;
	min-height: 26px;
	background: #f7f6f7 !important;
	border: none;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	transition: all .2s linear;
	-moz-transition: all .2s linear;
	-webkit-transition: all .2s linear;
	-ms-transition: all .2s linear;
	-o-transition: all .2s linear;
}

.woocommerce #content .widget_price_filter .price_slider_amount .price_label {
	display: block;
	float: right;
	margin-top: 5px;
}

#content .woocommerce ul.products li.product-category a img, #content ul.products li.product-category a:hover img {
	box-shadow: none;
	-webkit-box-shadow: none;
}

#content .woocommerce ul.products li.product-category a img {
	border: 1px solid #ededed;
}

/*

.product_holder .product-loop-thumb { 
	position:relative ; 
	overflow: hidden;
	display:block;
	padding-bottom:300px;

}
.product_holder .product-loop-thumb > a { 
	position: absolute;
	display:block ; 
	width: 100%;
	height: 200%;
	top:0;
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	-ms-transform: translate3d(0,0,0);
	-o-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	-webkit-transition: all 1s cubic-bezier(0.190,1.000,0.220,1.000);
	-webkit-transition-delay: .0s;
	-moz-transition: all 1s cubic-bezier(0.190,1.000,0.220,1.000) 0s;
	-o-transition: all 1s cubic-bezier(0.190,1.000,0.220,1.000) 0s;
	transition: all 1s cubic-bezier(0.190,1.000,0.220,1.000) 0s;
	
}
.woocommerce ul.products li.product a img {
	display: block;
	margin-bottom: 0;
}
.product_holder .product-loop-thumb a img{ 
	width:100% ; 
	margin-bottom: 0 !important;
}

.product_holder:hover > .product-loop-thumb > a {
	top: -100%;
	-webkit-transition: all 1s cubic-bezier(0.190,1.000,0.220,1.000);
	-webkit-transition-delay: 0s;
	-moz-transition: all 1s cubic-bezier(0.190,1.000,0.220,1.000) 0s;
	-o-transition: all 1s cubic-bezier(0.190,1.000,0.220,1.000) 0s;
	transition: all 1s cubic-bezier(0.190,1.000,0.220,1.000) 0s;
}
*/